@{
    ViewData["Title"] = "View Case List";
    // KTTheme.AddVendors(new string[] { "amcharts", "amcharts-maps", "amcharts-stock" });

    KTTheme.AddJavascriptFile("plugins/custom/datatables/datatables.bundle.js");
    KTTheme.AddJavascriptFile("js/custom/case/CaseList.js");
}

<div class="table-responsive">
    <table id="kt_datatable_select" class="table table-striped border rounded gy-5 gs-7">
        <thead>
            <tr class="fw-semibold fs-6 text-gray-800 border-bottom-2 border-gray-200">
                <th>SrNo</th>
                <th>Case Type</th>
                <th>Case Sub-Type</th>
                <th>Date</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>