<!--begin::Table widget 10-->

<div class="card border-0 h-md-100" data-bs-theme="light" style="background: linear-gradient(112.14deg, #00D2FF 0%, #3A7BD5 100%)">
    <!--begin::Body-->
    <div class="card-body">
        <!--begin::Row-->
        <div class="row align-items-center h-100">
            <!--begin::Col-->
            <div class="col-7 ps-xl-13">
                <!--begin::Title-->
                <div class="text-white mb-6 pt-6">
                    <span class="fs-2qx fw-bold">Upgrade Your Subscription</span>
                </div>
                <!--end::Title-->
                <!--begin::Text-->
                <span class="fw-semibold text-white fs-6 mb-8 d-block opacity-75"></span>
                <!--end::Text-->
                <!--begin::Items-->
                <div class="d-flex align-items-center flex-wrap d-grid gap-2 mb-10 mb-xl-20">
                    <!--begin::Item-->
                    <div class="d-flex align-items-center me-5 me-xl-13">
                        <!--begin::Symbol-->
                        <div class="symbol symbol-30px symbol-circle me-3">
                            <span class="symbol-label" style="background: #35C7FF">
                                <i class="ki-duotone ki-abstract-41 fs-5 text-white">
                                    <span class="path1"></span>
                                    <span class="path2"></span>
                                </i>
                            </span>
                        </div>
                        <!--end::Symbol-->
                        <!--begin::Info-->
                        <div class="text-white">
                            <span class="fw-semibold d-block fs-8 opacity-75">Cases</span>
                            <span class="fw-bold fs-7">Unlimited</span>
                        </div>
                        <!--end::Info-->
                    </div>
                    <!--end::Item-->
                    <!--begin::Item-->
                    <div class="d-flex align-items-center">
                        <!--begin::Symbol-->
                        <div class="symbol symbol-30px symbol-circle me-3">
                            <span class="symbol-label" style="background: #35C7FF">
                                <i class="ki-duotone ki-abstract-26 fs-5 text-white">
                                    <span class="path1"></span>
                                    <span class="path2"></span>
                                </i>
                            </span>
                        </div>
                        <!--end::Symbol-->
                        <!--begin::Info-->
                        <div class="text-white">
                            <span class="fw-semibold opacity-75 d-block fs-8">Company</span>
                            <span class="fw-bold fs-7">Unlimited</span>
                        </div>
                        <!--end::Info-->
                    </div>
                    <!--end::Item-->
                </div>
                <!--end::Items-->
                <!--begin::Action-->
                <div class="d-flex flex-column flex-sm-row d-grid gap-2">
                    <a href="#" class="btn btn-success flex-shrink-0 me-lg-2" data-bs-toggle="modal" data-bs-target="#kt_modal_upgrade_plan">Upgrade Plan</a>
                    <a href="#" class="btn btn-primary flex-shrink-0" style="background: rgba(255, 255, 255, 0.2)">Read Guides</a>
                </div>
                <!--end::Action-->
            </div>
            <!--end::Col-->
            <!--begin::Col-->
            <div class="col-5 pt-10">
                <!--begin::Illustration-->
                <div class="bgi-no-repeat bgi-size-contain bgi-position-x-end h-225px" style="background-image: url('assets/media/svg/illustrations/easy/5.svg')"></div>
                <!--end::Illustration-->
            </div>
            <!--end::Col-->
        </div>
        <!--end::Row-->
    </div>
    <!--end::Body-->
</div>
<!--end::Table Widget 10-->