
@{
    ViewData["Title"] = "CompanyList";
    KTTheme.AddJavascriptFile("plugins/custom/datatables/datatables.bundle.js");
    KTTheme.AddJavascriptFile("js/custom/company/CompanyList.js");

}

<div class="table-responsive">
    <table id="kt_datatable_select1" class="table table-striped border rounded gy-5 gs-7">
        <thead>
            <tr class="fw-semibold fs-6 text-gray-800 border-bottom-2 border-gray-200">
                <th>Sr No</th>
                <th>Application No</th>
                <th>Date</th>
                <th>Status</th>
                <th>Actions</th>
                

            </tr>
        </thead>
        <tbody>
        





           
        </tbody>
    </table>
</div>

