
@{
    ViewData["Title"] = "lawyerAssignedCases";
}

<h1>lawyer Assigned Cases</h1>


<div class="table-responsive">
    <table id="kt_datatable_select" class="table table-striped border rounded gy-5 gs-7">
        <thead>
            <tr class="fw-semibold fs-6 text-gray-800 border-bottom-2 border-gray-200">

                <th>Case Number</th>
                <th>Client Name</th>

                <th>Case Type</th>
                <th class="table-sort-desc">Assigned Date</th>

            </tr>
        </thead>
        <tbody>
            <tr>
                <td>123456</td>
                <td>Jane Smith</td>
                <td>Civil</td>
                <td>2024-03-16</td>

            </tr>
            <tr>
                <td>789012</td>
                <td>John Doe</td>

                <td>Family Law</td>
                <td>2024-03-18</td>

            </tr>
            <tr>
                <td>123456</td>
                <td>Jane Smith</td>

                <td>Civil</td>
                <td>2024-04-30</td>


            </tr>






            <tr>
                <td>789012</td>
                <td>John Doe</td>
                <td>Family Law</td>
                <td>2024-03-18</td>
            </tr>


            <tr>
                <td>123456</td>
                <td>XYZ Corporation</td>
                <td>Civil</td>
                <td>2024-03-16</td>

            </tr>

        </tbody>
    </table>
</div>


