
@{
    ViewData["Title"] = "ViewCases";
}

<h1>View Cases List</h1>


<div class="table-responsive">
	<table id="kt_datatable_select" class="table table-striped border rounded gy-5 gs-7">
		<thead>
			<tr class="fw-semibold fs-6 text-gray-800 border-bottom-2 border-gray-200">

				<th>Case Number</th>
				<th>Client Name</th>

				<th>Case Type</th>
				<th class="table-sort-desc">Assigned Date</th>

			</tr>
		</thead>
		<tbody>
			<tr>
				<td>
					<!--begin::Menu item-->
					<div class="menu-item px-3">
						<a href="C:\Users\ZAHID QURESHI\OneDrive\Desktop\metronic_html_v8.2.0_demo1\metronic_html_v8.2.0_demo1\demo1\dist\dashboards\casedetails1.html" id="link1" class="menu-link px3 text-gray-600">123456</a>
					</div>
					<!--end::Menu item-->

				</td>
				<td>Jane Smith</td>
				<td>Civil</td>
				<td>2024-03-16</td>

			</tr>
			<tr>
				<td>
					<!--begin::Menu item-->
					<div class="menu-item px-3">
						<a href="C:\Users\ZAHID QURESHI\OneDrive\Desktop\metronic_html_v8.2.0_demo1\metronic_html_v8.2.0_demo1\demo1\dist\dashboards\casedetail2.html" id="link1" class="menu-link px3 text-gray-600">789012</a>
					</div>
					<!--end::Menu item-->
				</td>
				<td>John Doe</td>

				<td>Company Setup</td>
				<td>2024-03-18</td>

			</tr>
			<tr>
				<td>
					<!--begin::Menu item-->
					<div class="menu-item px-3">
						<a href="C:\Users\ZAHID QURESHI\OneDrive\Desktop\metronic_html_v8.2.0_demo1\metronic_html_v8.2.0_demo1\demo1\dist\dashboards\casedetails1.html" class="menu-link px3 text-gray-600">563214</a>
					</div>
					<!--end::Menu item-->
				</td>
				<td>Jane Smith</td>

				<td>Criminal</td>
				<td>2024-04-30</td>


			</tr>






			<tr>
				<td>
					<!--begin::Menu item-->
					<div class="menu-item px-3">
						<a href="C:\Users\ZAHID QURESHI\OneDrive\Desktop\metronic_html_v8.2.0_demo1\metronic_html_v8.2.0_demo1\demo1\dist\dashboards\casedetail2.html" class="menu-link px3 text-gray-600">331250</a>
					</div>
					<!--end::Menu item-->
				</td>
				<td>John Doel</td>
				<td>Company Setup</td>
				<td>2024-03-18</td>

			</tr>


			<tr>
				<td>
					<!--begin::Menu item-->
					<div class="menu-item px-3">
						<a href="C:\Users\ZAHID QURESHI\OneDrive\Desktop\metronic_html_v8.2.0_demo1\metronic_html_v8.2.0_demo1\demo1\dist\dashboards\casedetails1.html" class="menu-link px3 text-gray-600">599651</a>
					</div>
					<!--end::Menu item-->
				</td>
				<td>XYZM Corporation</td>
				<td>Civil</td>
				<td>2024-03-16</td>
			</tr>

		</tbody>
	</table>
</div>


