
<ul class="nav nav-stretch nav-line-tabs nav-line-tabs-2x border-transparent fs-5 fw-bold">
    <!--begin::Nav item-->
    <li class="nav-item mt-2">
        <a class="nav-link text-active-primary ms-0 me-10 py-5 active" id="acc_nav_overview" href="AdminProfileOverview">Overview</a>
    </li>
    <!--end::Nav item-->
    <!--begin::Nav item-->
    <li class="nav-item mt-2">
        <a class="nav-link text-active-primary ms-0 me-10 py-5" id="acc_nav_settings" href="AdminProfileSetting">Edit Profile</a>
    </li>
    <!--end::Nav item-->
    <!--end::Nav item-->
    <!--begin::Nav item-->
    <li class="nav-item mt-2">
        <a class="nav-link text-active-primary ms-0 me-10 py-5"  id="acc_nav_change_email" href="changeEmail">Change Email</a>
    </li>
    <!--end::Nav item-->
</ul>