
<div class="row g-6 mb-6 g-xl-9 mb-xl-9">
    <!--begin::Followers-->
    <div class="text-center">
        <!--begin::Title-->
        <h3 class="fs-2hx text-dark " id="clients" data-kt-scroll-offset="{default: 125, lg: 150}">Explore Our Services</h3>
        <!--end::Title-->
    </div>
    <!--begin::Col-->
    <div class="col-md-3 col-xxl-3">
        <!--begin::Card-->
        <div class="card">
            <!--begin::Card body-->
            <div class="card-body d-flex flex-center flex-column py-9 px-5">
                <!--begin::Avatar-->
                <div class="symbol symbol-65px symbol-circle mb-5">
                    <img src="assets/media//avatars/company-formation.jpg" alt="image" />
                    <div class="bg-success position-absolute rounded-circle translate-middle start-100 top-100 border border-4 border-body h-15px w-15px ms-n3 mt-n3"></div>
                </div>
                <!--end::Avatar-->
                <!--begin::Name-->
                <a href="NewCompany" class="fs-4 text-gray-800 text-hover-primary fw-bold mb-0">Company Formation</a>
                <!--end::Name-->
                <!--begin::Position-->
                <div class="fw-semibold text-gray-400 mb-6 text-center">Our experts will understand your requirements, advice you and then register a company for you.</div>
                <!--end::Position-->
                <!--begin::Follow-->

                <ul class="nav nav-tabs nav-pills flex-row border-0 flex-md-column me-5 mb-3 mb-md-0 fs-6 min-w-lg-200px">
                    <li class="nav-item w-100 me-0 mb-md-2">
                        <a class="nav-link w-100 btn btn-flex btn-active-light-danger" href="NewCompany">

                            <span class="d-flex flex-column align-items-start">
                                <span class="fs-4 fw-bold">Main Land (DED)</span>

                            </span>
                        </a>
                    </li>
                    <li class="nav-item w-100 me-0 mb-md-2">
                        <a class="nav-link w-100 btn btn-flex btn-active-light-info" href="NewCompany">

                            <span class="d-flex flex-column align-items-start">
                                <span class="fs-4 fw-bold">Free Zone</span>

                            </span>
                        </a>
                    </li>
                    <li class="nav-item w-100">
                        <a class="nav-link w-100 btn btn-flex btn-active-light-danger" href="NewCompany">

                            <span class="d-flex flex-column align-items-start">
                                <span class="fs-4 fw-bold">Offshore Company</span>

                            </span>
                        </a>
                    </li>
                </ul>
                <!--end::Follow-->
            </div>
            <!--begin::Card body-->
        </div>
        <!--begin::Card-->
    </div>
    <!--end::Col-->
    <!--begin::Col-->
    <div class="col-md-3 col-xxl-3">
        <!--begin::Card-->
        <div class="card">
            <!--begin::Card body-->
            <div class="card-body d-flex flex-center flex-column py-9 px-5">
                <!--begin::Avatar-->
                <div class="symbol symbol-65px symbol-circle mb-5">
                    <img src="assets/media//avatars/300-32.jpg" alt="image" />
                </div>
                <!--end::Avatar-->
                <!--begin::Name-->
                <a href="#" class="fs-4 text-gray-800 text-hover-primary fw-bold mb-0">Audit Company</a>
                <!--end::Name-->
                <!--begin::Position-->
                <div class="fw-semibold text-gray-400 mb-6">UAE has been making constant changes on the tax lawas. To help the company's grow. Our tax consultants constantly upgrading themselves.</div>
                <!--end::Position-->
                <ul class="nav nav-tabs nav-pills flex-row border-0 flex-md-column me-5 mb-3 mb-md-0 fs-6 min-w-lg-200px">
                    <li class="nav-item w-100 me-0 mb-md-2">
                        <a class="nav-link w-100 btn btn-flex btn-active-light-danger" href="#" data-bs-toggle="modal" data-bs-target="#kt_comingSoonFeature">
                            <span class="d-flex flex-column align-items-start">
                                <span class="fs-4 fw-bold">Company Audit</span>
                            </span>
                        </a>
                    </li>
                    <li class="nav-item w-100 me-0 mb-md-2">
                        <a class="nav-link w-100 btn btn-flex btn-active-light-info" href="#" data-bs-toggle="modal" data-bs-target="#kt_comingSoonFeature">

                            <span class="d-flex flex-column align-items-start">
                                <span class="fs-4 fw-bold">Individual Audit</span>

                            </span>
                        </a>
                    </li>
                    <li class="nav-item w-100">
                        <a class="nav-link w-100 btn btn-flex btn-active-light-danger" href="#" data-bs-toggle="modal" data-bs-target="#kt_comingSoonFeature">

                            <span class="d-flex flex-column align-items-start">
                                <span class="fs-4 fw-bold">TAX Advise</span>

                            </span>
                        </a>
                    </li>
                </ul>

            </div>
            <!--begin::Card body-->
        </div>
        <!--begin::Card-->
    </div>
    <!--end::Col-->
    <!--begin::Col-->
    <div class="col-md-3 col-xxl-3">
        <!--begin::Card-->
        <div class="card">
            <!--begin::Card body-->
            <div class="card-body d-flex flex-center flex-column py-9 px-5">
                <!--begin::Avatar-->
                <div class="symbol symbol-65px symbol-circle mb-5">
                    <img src="assets/media//avatars/legal-consultation.jpg" alt="image" />
                </div>
                <!--end::Avatar-->
                <!--begin::Name-->
                <a href="NewCase" class="fs-4 text-gray-800 text-hover-primary fw-bold mb-0">Legal Consultation</a>
                <!--end::Name-->
                <!--begin::Position-->
                <div class="fw-semibold text-gray-400 mb-6">Language barrier is the major issue faced by experts. To cater to the same our experts speak ARABIC, ENGLISH, HINDI, RUSSIAN, UKRAINIAN.</div>
                <!--end::Position-->
                <!--begin::Follow-->

                <ul class="nav nav-tabs nav-pills flex-row border-0 flex-md-column me-5 mb-3 mb-md-0 fs-6 min-w-lg-200px">
                    <li class="nav-item w-100 me-0 mb-md-2">
                        <a class="nav-link w-100 btn btn-flex btn-active-light-danger" href="NewCase">

                            <span class="d-flex flex-column align-items-start">
                                <span class="fs-4 fw-bold">CIVIL</span>

                            </span>
                        </a>
                    </li>
                    <li class="nav-item w-100 me-0 mb-md-2">
                        <a class="nav-link w-100 btn btn-flex btn-active-light-info" href="NewCase">

                            <span class="d-flex flex-column align-items-start">
                                <span class="fs-4 fw-bold">CRIMINAL</span>

                            </span>
                        </a>
                    </li>
                    <%--
                    <li class="nav-item w-100">
                        <a class="nav-link w-100 btn btn-flex btn-active-light-danger" href="NewCase">

                            <span class="d-flex flex-column align-items-start">
                                <span class="fs-4 fw-bold">TAX</span>

                            </span>
                        </a>
                    </li>--%>
                </ul>
                <!--end::Follow-->
            </div>
            <!--begin::Card body-->
        </div>
        <!--begin::Card-->
    </div>
    <!--end::Col-->
    <!--begin::Col-->
    <div class="col-md-3 col-xxl-3">
        <!--begin::Card-->
        <div class="card">
            <!--begin::Card body-->
            <div class="card-body d-flex flex-center flex-column py-9 px-5">
                <!--begin::Avatar-->
                <div class="symbol symbol-65px symbol-circle mb-5">
                    <img src="assets/media//avatars/business-consultation.jpg" alt="image" />
                </div>
                <!--end::Avatar-->
                <!--begin::Name-->
                <a href="#" class="fs-4 text-gray-800 text-hover-primary fw-bold mb-0">Business Consultation</a>
                <!--end::Name-->
                <!--begin::Position-->
                <div class="fw-semibold text-gray-400 mb-6">Our experts will understand your business ideas and requirements and accordingly line up meetings for your specific needs. We bridge between two entities.</div>
                <!--end::Position-->
                <!--begin::Follow-->

                <ul class="nav nav-tabs nav-pills flex-row border-0 flex-md-column me-5 mb-3 mb-md-0 fs-6 min-w-lg-200px">
                    <li class="nav-item w-100 me-0 mb-md-2">
                        <a class="nav-link w-100 btn btn-flex btn-active-light-danger" href="#" data-bs-toggle="modal" data-bs-target="#kt_comingSoonFeature">

                            <span class="d-flex flex-column align-items-start">
                                <span class="fs-4 fw-bold">FINANCE</span>

                            </span>
                        </a>
                    </li>
                    <li class="nav-item w-100 me-0 mb-md-2">
                        <a class="nav-link w-100 btn btn-flex btn-active-light-info" href="#" data-bs-toggle="modal" data-bs-target="#kt_comingSoonFeature">

                            <span class="d-flex flex-column align-items-start">
                                <span class="fs-4 fw-bold">CONSTRUCTION</span>

                            </span>
                        </a>
                    </li>
                    <li class="nav-item w-100">
                        <a class="nav-link w-100 btn btn-flex btn-active-light-danger" href="#" data-bs-toggle="modal" data-bs-target="#kt_comingSoonFeature">

                            <span class="d-flex flex-column align-items-start">
                                <span class="fs-4 fw-bold">TRADING</span>

                            </span>
                        </a>
                    </li>
                </ul>
                <!--end::Follow-->
            </div>
            <!--begin::Card body-->
        </div>
        <!--begin::Card-->
    </div>
    <!--end::Col-->
    <!--end::Followers-->
</div>