
<div class="row g-6 mb-6 g-xl-9 mb-xl-9">
    <div class="col-md-3 col-xxl-3">
        <div class="card">
            <!--begin::Card body-->
            <div class="card-body d-flex flex-center flex-column py-9 px-5">
                <!--begin::Item-->
                <div class="text-center">
                    <!--begin::Photo-->
                    <div class="mx-auto mb-5 d-flex w-200px h-200px bgi-no-repeat bgi-size-contain bgi-position-center" style="background-image:url('assets/media/landing_page/dubai_court.png')"></div>
                    <!--end::Photo-->
                    <!--begin::Person-->
                    <div class="mb-0">
                        <!--begin::Name-->
                        <a href="#" class="text-dark fw-bold text-hover-primary fs-3">Dubai Courts</a>
                        <!--end::Name-->
                        <!--begin::Position-->
                        <div class="text-muted fs-6 fw-semibold mt-1"></div>
                        <!--begin::Position-->
                    </div>
                    <!--end::Person-->
                </div>
                <!--end::Item-->
            </div>
            <!--begin::Card body-->
        </div>
        <!--begin::Card-->
    </div>
    <div class="col-md-3 col-xxl-3">
        <div class="card">
            <!--begin::Card body-->
            <div class="card-body d-flex flex-center flex-column py-9 px-5">
                <!--begin::Item-->
                <div class="text-center">
                    <!--begin::Photo-->
                    <div class="mx-auto mb-5 d-flex w-200px h-200px bgi-no-repeat bgi-size-contain bgi-position-center" style="background-image:url('assets/media/landing_page/dubai_police.png')"></div>
                    <!--end::Photo-->
                    <!--begin::Person-->
                    <div class="mb-0">
                        <!--begin::Name-->
                        <a href="#" class="text-dark fw-bold text-hover-primary fs-3">Dubai Police</a>
                        <!--end::Name-->
                        <!--begin::Position-->
                        <div class="text-muted fs-6 fw-semibold mt-1"></div>
                        <!--begin::Position-->
                    </div>
                    <!--end::Person-->
                </div>
                <!--end::Item-->
            </div>
            <!--begin::Card body-->
        </div>
        <!--begin::Card-->
    </div>
    <div class="col-md-3 col-xxl-3">
        <div class="card">
            <!--begin::Card body-->
            <div class="card-body d-flex flex-center flex-column py-9 px-5">
                <!--begin::Item-->
                <div class="text-center">
                    <!--begin::Photo-->
                    <div class="mx-auto mb-5 d-flex w-200px h-200px bgi-no-repeat bgi-size-contain bgi-position-center" style="background-image:url('assets/media/landing_page/united_arab_emirates_misnistry_of_labour.png')"></div>
                    <!--end::Photo-->
                    <!--begin::Person-->
                    <div class="mb-0">
                        <!--begin::Name-->
                        <a href="#" class="text-dark fw-bold text-hover-primary fs-3">Ministry Of Labour & Tasheel</a>
                        <!--end::Name-->
                        <!--begin::Position-->
                        <div class="text-muted fs-6 fw-semibold mt-1"></div>
                        <!--begin::Position-->
                    </div>
                    <!--end::Person-->
                </div>
                <!--end::Item-->
            </div>
            <!--begin::Card body-->
        </div>
        <!--begin::Card-->
    </div>
    <div class="col-md-3 col-xxl-3">
        <div class="card">
            <!--begin::Card body-->
            <div class="card-body d-flex flex-center flex-column py-9 px-5">
                <!--begin::Item-->
                <div class="text-center">
                    <!--begin::Photo-->
                    <div class="mx-auto mb-5 d-flex w-200px h-200px bgi-no-repeat bgi-size-contain bgi-position-center" style="background-image:url('assets/media/landing_page/dubai_economy.png')"></div>
                    <!--end::Photo-->
                    <!--begin::Person-->
                    <div class="mb-0">
                        <!--begin::Name-->
                        <a href="#" class="text-dark fw-bold text-hover-primary fs-3">Department Of Economics</a>
                        <!--end::Name-->
                        <!--begin::Position-->
                        <div class="text-muted fs-6 fw-semibold mt-1"></div>
                        <!--begin::Position-->
                    </div>
                    <!--end::Person-->
                </div>
                <!--end::Item-->
            </div>
            <!--begin::Card body-->
        </div>
        <!--begin::Card-->
    </div>
</div>
<div class="row g-6 mb-6 g-xl-9 mb-xl-9">
    <div class="col-md-3 col-xxl-3">
        <div class="card">
            <!--begin::Card body-->
            <div class="card-body d-flex flex-center flex-column py-9 px-5">
                <!--begin::Item-->
                <div class="text-center">
                    <!--begin::Photo-->
                    <div class="mx-auto mb-5 d-flex w-200px h-200px bgi-no-repeat bgi-size-contain bgi-position-center" style="background-image:url('assets/media/landing_page/fedral_authority.png')"></div>
                    <!--end::Photo-->
                    <!--begin::Person-->
                    <div class="mb-0">
                        <!--begin::Name-->
                        <a href="#" class="text-dark fw-bold text-hover-primary fs-3">Immigration Department</a>
                        <!--end::Name-->
                        <!--begin::Position-->
                        <div class="text-muted fs-6 fw-semibold mt-1"></div>
                        <!--begin::Position-->
                    </div>
                    <!--end::Person-->
                </div>
                <!--end::Item-->
            </div>
            <!--begin::Card body-->
        </div>
        <!--begin::Card-->
    </div>
    <div class="col-md-3 col-xxl-3">
        <div class="card">
            <!--begin::Card body-->
            <div class="card-body d-flex flex-center flex-column py-9 px-5">
                <!--begin::Item-->
                <div class="text-center">
                    <!--begin::Photo-->
                    <div class="mx-auto mb-5 d-flex w-200px h-200px bgi-no-repeat bgi-size-contain bgi-position-center" style="background-image:url('assets/media/landing_page/dubai_municipality.png')"></div>
                    <!--end::Photo-->
                    <!--begin::Person-->
                    <div class="mb-0">
                        <!--begin::Name-->
                        <a href="#" class="text-dark fw-bold text-hover-primary fs-3">Dubai Municipality</a>
                        <!--end::Name-->
                        <!--begin::Position-->
                        <div class="text-muted fs-6 fw-semibold mt-1"></div>
                        <!--begin::Position-->
                    </div>
                    <!--end::Person-->
                </div>
                <!--end::Item-->
            </div>
            <!--begin::Card body-->
        </div>
        <!--begin::Card-->
    </div>
    <div class="col-md-3 col-xxl-3">
        <div class="card">
            <!--begin::Card body-->
            <div class="card-body d-flex flex-center flex-column py-9 px-5">
                <!--begin::Item-->
                <div class="text-center">
                    <!--begin::Photo-->
                    <div class=" mx-auto mb-5 d-flex w-200px h-200px bgi-no-repeat bgi-size-contain bgi-position-center" style="background-image:url('assets/media/landing_page/fedral_authority.png')"></div>
                    <!--end::Photo-->
                    <!--begin::Person-->
                    <div class="mb-0">
                        <!--begin::Name-->
                        <a href="#" class="text-dark fw-bold text-hover-primary fs-3">Emirates ID Authority</a>
                        <!--end::Name-->
                        <!--begin::Position-->
                        <div class="text-muted fs-6 fw-semibold mt-1"></div>
                        <!--begin::Position-->
                    </div>
                    <!--end::Person-->
                </div>
                <!--end::Item-->
            </div>
            <!--begin::Card body-->
        </div>
        <!--begin::Card-->
    </div>
    <div class="col-md-3 col-xxl-3">
        <div class="card">
            <!--begin::Card body-->
            <div class="card-body d-flex flex-center flex-column py-9 px-5">
                <!--begin::Item-->
                <div class="text-center">
                    <!--begin::Photo-->
                    <div class="mx-auto mb-5 d-flex w-200px h-200px bgi-no-repeat bgi-size-contain bgi-position-center" style="background-image:url('assets/media/landing_page/rta.png')"></div>
                    <!--end::Photo-->
                    <!--begin::Person-->
                    <div class="mb-0">
                        <!--begin::Name-->
                        <a href="#" class="text-dark fw-bold text-hover-primary fs-3">Road and Transport Authority</a>
                        <!--end::Name-->
                        <!--begin::Position-->
                        <div class="text-muted fs-6 fw-semibold mt-1"></div>
                        <!--begin::Position-->
                    </div>
                    <!--end::Person-->
                </div>
                <!--end::Item-->
            </div>
            <!--begin::Card body-->
        </div>
        <!--begin::Card-->
    </div>
</div>

<div class="row g-6 mb-6 g-xl-9 mb-xl-9">
    <div class="col-md-3 col-xxl-3">
        <div class="card">
            <!--begin::Card body-->
            <div class="card-body d-flex flex-center flex-column py-9 px-5">
                <!--begin::Item-->
                <div class="text-center">
                    <!--begin::Photo-->
                    <div class="mx-auto mb-5 d-flex w-200px h-200px bgi-no-repeat bgi-size-contain bgi-position-center" style="background-image:url('assets/media/landing_page/emigration_clerance.jpg')"></div>
                    <!--end::Photo-->
                    <!--begin::Person-->
                    <div class="mb-0">
                        <!--begin::Name-->
                        <a href="#" class="text-dark fw-bold text-hover-primary fs-3">Emigration Clearance</a>
                        <!--end::Name-->
                        <!--begin::Position-->
                        <div class="text-muted fs-6 fw-semibold mt-1"></div>
                        <!--begin::Position-->
                    </div>
                    <!--end::Person-->
                </div>
                <!--end::Item-->
            </div>
            <!--begin::Card body-->
        </div>
        <!--begin::Card-->
    </div>
    <div class="col-md-3 col-xxl-3">
        <div class="card">
            <!--begin::Card body-->
            <div class="card-body d-flex flex-center flex-column py-9 px-5">
                <!--begin::Item-->
                <div class="text-center">
                    <!--begin::Photo-->
                    <div class="mx-auto mb-5 d-flex w-200px h-200px bgi-no-repeat bgi-size-contain bgi-position-center" style="background-image:url('assets/media/landing_page/dubai_health_authority.png')"></div>
                    <!--end::Photo-->
                    <!--begin::Person-->
                    <div class="mb-0">
                        <!--begin::Name-->
                        <a href="#" class="text-dark fw-bold text-hover-primary fs-3">Dubai Health Authority</a>
                        <!--end::Name-->
                        <!--begin::Position-->
                        <div class="text-muted fs-6 fw-semibold mt-1"></div>
                        <!--begin::Position-->
                    </div>
                    <!--end::Person-->
                </div>
                <!--end::Item-->
            </div>
            <!--begin::Card body-->
        </div>
        <!--begin::Card-->
    </div>
    <div class="col-md-3 col-xxl-3">
        <div class="card">
            <!--begin::Card body-->
            <div class="card-body d-flex flex-center flex-column py-9 px-5">
                <!--begin::Item-->
                <div class="text-center">
                    <!--begin::Photo-->
                    <div class="mx-auto mb-5 d-flex w-200px h-200px bgi-no-repeat bgi-size-contain bgi-position-center" style="background-image:url('assets/media/landing_page/account.png')"></div>
                    <!--end::Photo-->
                    <!--begin::Person-->
                    <div class="mb-0">
                        <!--begin::Name-->
                        <a href="#" class="text-dark fw-bold text-hover-primary fs-3">Accounting & Book Keeping</a>
                        <!--end::Name-->
                        <!--begin::Position-->
                        <div class="text-muted fs-6 fw-semibold mt-1"></div>
                        <!--begin::Position-->
                    </div>
                    <!--end::Person-->
                </div>
                <!--end::Item-->
            </div>
            <!--begin::Card body-->
        </div>
        <!--begin::Card-->
    </div>
    <div class="col-md-3 col-xxl-3">
        <div class="card">
            <!--begin::Card body-->
            <div class="card-body d-flex flex-center flex-column py-9 px-5">
                <!--begin::Item-->
                <div class="text-center">
                    <!--begin::Photo-->
                    <div class="circle mx-auto mb-5 d-flex w-100px h-100px bgi-no-repeat bgi-size-contain bgi-position-center" style="background-image:url('assets/media/landing_page/court_hammer.jpeg')"></div>
                    <!--end::Photo-->
                    <!--begin::Person-->
                    <div class="mb-0">
                        <!--begin::Name-->
                        <h1>New Here</h1>
                        <a href="signup/" class="text-dark fw-bold text-hover-primary fs-3">Sign Up Now</a>
                        <!--end::Name-->
                        <!--begin::Position-->
                        <div class="text-muted fs-6 fw-semibold mt-1">Already a Coustomer</div>
                        <a href="signin/" class="text-dark fw-bold text-hover-primary fs-5">Login</a>
                        <!--begin::Position-->
                    </div>
                    <!--end::Person-->
                </div>
                <!--end::Item-->
            </div>
            <!--begin::Card body-->
        </div>
        <!--begin::Card-->
    </div>
</div>