<!--begin::Col-->
    <!--begin::Card widget 11-->
    <div class="card card-flush h-xl-100" style="background-color: #F3D6EF">
        <!--begin::Header-->
        <div class="card-header flex-nowrap pt-5">
            <!--begin::Title-->
            <h3 class="card-title align-items-start flex-column">
                <span class="card-label fw-bold fs-4 text-gray-800">Wallet</span>
                <span class="mt-1 fw-semibold fs-7">Total Balance : 1000 AED</span>
            </h3>
            <!--end::Title-->
        </div>
        <!--end::Header-->
        <!--begin::Body-->
        <div class="card-body text-center pt-5">
            <!--begin::Image-->
            <img src="assets/media/logos/coin-logo.png" class="h-125px mb-5" alt="" />
            <!--end::Image-->
            <!--begin::Section-->
            <div class="text-start">
                <h4 class="text-dark">
                    Total Balance :
                    <span class="mt-1 fw-semibold">1000</span>
                </h4>
                <h4 class="text-dark">
                    Matured Amount :
                    <span class="mt-1 fw-semibold">10</span>
                </h4>
                <h4 class="text-dark">
                    Unmatured Amount :
                    <span class="mt-1 fw-semibold">10</span>
                </h4>
            </div>
            <!--end::Section-->
        </div>
        <!--end::Body-->
    </div>
    <!--end::Card widget 11-->
<!--end::Col-->