@{
    ViewData["Title"] = "Settings";
    // KTTheme.AddVendors(new string[] { "amcharts", "amcharts-maps", "amcharts-stock" });
    KTTheme.AddJavascriptFile("js/custom/account/settings/profile-details.js");
    KTTheme.AddJavascriptFile("js/custom/account/settings/signin-methods.js");
}

<!--begin::Content-->
<div id="kt_app_content" class="app-content flex-column-fluid">
    <!--begin::Content container-->
    <div id="kt_app_content_container" class="app-container container-xxl">
        <!--begin::Navbar-->
        <div class="card mb-5 mb-xl-10">
            <div class="card-body pt-9 pb-0">
                <!--begin::Details-->
                <partial name='~/Views/Layout/Demo1/Partials/Account/_AccountHeader.cshtml' />
                <!--end::Details-->
            </div>
        </div>
        <!--end::Navbar-->
        <!--begin::details View-->
        <!--begin::Basic info-->
        <div class="card mb-5 mb-xl-10">
            <!--begin::Card header-->
            <div class="card-header border-0 cursor-pointer" role="button" data-bs-toggle="collapse" data-bs-target="#kt_account_profile_details" aria-expanded="true" aria-controls="kt_account_profile_details">
                <!--begin::Card title-->
                <div class="card-title m-0">
                    <h3 class="fw-bold m-0">Profile Details</h3>
                </div>
                <!--end::Card title-->
            </div>
            <!--begin::Card header-->
            <!--begin::Content-->
            <div id="kt_account_settings_profile_details" class="collapse show">
                <!--begin::Form-->
                <form id="kt_account_profile_details_form" class="form" runat="server">
                    <!--begin::Card body-->
                    <div class="card-body border-top p-9">
                        <!--begin::Input group-->
                        <div class="row mb-6">
                            <!--begin::Label-->
                            <label class="col-lg-4 col-form-label required fw-semibold fs-6">Name</label>
                            <!--end::Label-->
                            <!--begin::Col-->
                            <div class="col-lg-8">
                                <!--begin::Row-->
                                <div class="row">
                                    <!--begin::Col-->
                                    <div class="col-lg-6 fv-row">
                                        <input type="text" name="fname" class="form-control form-control-lg form-control-solid mb-3 mb-lg-0" placeholder="First name" value="" id="txtFirstName" runat="server" />
                                    </div>
                                    <!--end::Col-->
                                    <!--begin::Col-->
                                    <div class="col-lg-6 fv-row">
                                        <input type="text" name="lname" class="form-control form-control-lg form-control-solid" placeholder="Last name" value="" id="txtLastName" runat="server" />
                                    </div>
                                    <!--end::Col-->
                                </div>
                                <!--end::Row-->
                            </div>
                            <!--end::Col-->
                        </div>
                        <!--end::Input group-->
                        <!--begin::Input group-->
                        <div class="row mb-6">
                            <!--begin::Label-->
                            <label class="col-lg-4 col-form-label fw-semibold fs-6">
                                <span class="required">Contact Number</span>
                                <span class="ms-1" data-bs-toggle="tooltip" title="Phone number must be active">
                                    <i class="ki-duotone ki-information-5 text-gray-500 fs-6">
                                        <span class="path1"></span>
                                        <span class="path2"></span>
                                        <span class="path3"></span>
                                    </i>
                                </span>
                            </label>
                            <!--end::Label-->
                            <!--begin::Col-->
                            <div class="col-lg-8 fv-row d-flex">
                                <select id="ddlCountryCode" name="country-code" aria-label="Country Code" data-control="select2" data-placeholder="+971" class="form-select form-select-solid form-select-lg fw-semibold me-3 w-75" runat="server">
                                    <option></option>
                                    <option value="+93">+93 (Afghanistan)</option>
                                    <option value="+355">+355 (Albania)</option>
                                    <option value="+213">+213 (Algeria)</option>
                                    <option value="+1 684">+1 684 (American Samoa)</option>
                                    <option value="+376">+376 (Andorra)</option>
                                    <option value="+244">+244 (Angola)</option>
                                    <option value="+1 264">+1 264 (Anguilla)</option>
                                    <option value="+672">+672 (Antarctica)</option>
                                    <option value="+1 268">+1 268 (Antigua and Barbuda)</option>
                                    <option value="+54">+54 (Argentina)</option>
                                    <option value="+374">+374 (Armenia)</option>
                                    <option value="+297">+297 (Aruba)</option>
                                    <option value="+61">+61 (Australia)</option>
                                    <option value="+43">+43 (Austria)</option>
                                    <option value="+994">+994 (Azerbaijan)</option>
                                    <option value="+1 242">+1 242 (Bahamas)</option>
                                    <option value="+973">+973 (Bahrain)</option>
                                    <option value="+880">+880 (Bangladesh)</option>
                                    <option value="+1 246">+1 246 (Barbados)</option>
                                    <option value="+375">+375 (Belarus)</option>
                                    <option value="+32">+32 (Belgium)</option>
                                    <option value="+501">+501 (Belize)</option>
                                    <option value="+229">+229 (Benin)</option>
                                    <option value="+1 441">+1 441 (Bermuda)</option>
                                    <option value="+975">+975 (Bhutan)</option>
                                    <option value="+591">+591 (Bolivia)</option>
                                    <option value="+387">+387 (Bosnia and Herzegovina)</option>
                                    <option value="+267">+267 (Botswana)</option>
                                    <option value="+55">+55 (Brazil)</option>
                                    <option value="+673">+673 (Brunei)</option>
                                    <option value="+359">+359 (Bulgaria)</option>
                                    <option value="+226">+226 (Burkina Faso)</option>
                                    <option value="+257">+257 (Burundi)</option>
                                    <option value="+855">+855 (Cambodia)</option>
                                    <option value="+237">+237 (Cameroon)</option>
                                    <option value="+1">+1 (Canada)</option>
                                    <option value="+238">+238 (Cape Verde)</option>
                                    <option value="+599">+599 (Caribbean Netherlands)</option>
                                    <option value="+1 345">+1 345 (Cayman Islands)</option>
                                    <option value="+236">+236 (Central African Republic)</option>
                                    <option value="+235">+235 (Chad)</option>
                                    <option value="+56">+56 (Chile)</option>
                                    <option value="+86">+86 (China)</option>
                                    <option value="+57">+57 (Colombia)</option>
                                    <option value="+269">+269 (Comoros)</option>
                                    <option value="+242">+242 (Republic of the Congo)</option>
                                    <option value="+243">+243 (Democratic Republic of the Congo)</option>
                                    <option value="+682">+682 (Cook Islands)</option>
                                    <option value="+506">+506 (Costa Rica)</option>
                                    <option value="+385">+385 (Croatia)</option>
                                    <option value="+53">+53 (Cuba)</option>
                                    <option value="+357">+357 (Cyprus)</option>
                                    <option value="+420">+420 (Czechia)</option>
                                    <option value="+45">+45 (Denmark)</option>
                                    <option value="+253">+253 (Djibouti)</option>
                                    <option value="+1 767">+1 767 (Dominica)</option>
                                    <option value="+1 849">+1 849 (Dominican Republic)</option>
                                    <option value="+593">+593 (Ecuador)</option>
                                    <option value="+20">+20 (Egypt)</option>
                                    <option value="+503">+503 (El Salvador)</option>
                                    <option value="+240">+240 (Equatorial Guinea)</option>
                                    <option value="+291">+291 (Eritrea)</option>
                                    <option value="+372">+372 (Estonia)</option>
                                    <option value="+251">+251 (Ethiopia)</option>
                                    <option value="+500">+500 (Falkland Islands)</option>
                                    <option value="+298">+298 (Faroe Islands)</option>
                                    <option value="+679">+679 (Fiji)</option>
                                    <option value="+358">+358 (Finland)</option>
                                    <option value="+33">+33 (France)</option>
                                    <option value="+594">+594 (French Guiana)</option>
                                    <option value="+689">+689 (French Polynesia)</option>
                                    <option value="+241">+241 (Gabon)</option>
                                    <option value="+220">+220 (Gambia)</option>
                                    <option value="+995">+995 (Georgia)</option>
                                    <option value="+49">+49 (Germany)</option>
                                    <option value="+233">+233 (Ghana)</option>
                                    <option value="+350">+350 (Gibraltar)</option>
                                    <option value="+30">+30 (Greece)</option>
                                    <option value="+299">+299 (Greenland)</option>
                                    <option value="+1 473">+1 473 (Grenada)</option>
                                    <option value="+590">+590 (Guadeloupe)</option>
                                    <option value="+1 671">+1 671 (Guam)</option>
                                    <option value="+502">+502 (Guatemala)</option>
                                    <option value="+224">+224 (Guinea)</option>
                                    <option value="+245">+245 (Guinea-Bissau)</option>
                                    <option value="+592">+592 (Guyana)</option>
                                    <option value="+509">+509 (Haiti)</option>
                                    <option value="+504">+504 (Honduras)</option>
                                    <option value="+36">+36 (Hungary)</option>
                                    <option value="+354">+354 (Iceland)</option>
                                    <option value="+91">+91 (India)</option>
                                    <option value="+62">+62 (Indonesia)</option>
                                    <option value="+98">+98 (Iran)</option>
                                    <option value="+964">+964 (Iraq)</option>
                                    <option value="+353">+353 (Ireland)</option>
                                    <option value="+972">+972 (Israel)</option>
                                    <option value="+39">+39 (Italy)</option>
                                    <option value="+1 876">+1 876 (Jamaica)</option>
                                    <option value="+81">+81 (Japan)</option>
                                    <option value="+962">+962 (Jordan)</option>
                                    <option value="+7">+7 (Kazakhstan)</option>
                                    <option value="+254">+254 (Kenya)</option>
                                    <option value="+686">+686 (Kiribati)</option>
                                    <option value="+383">+383 (Kosovo)</option>
                                    <option value="+965">+965 (Kuwait)</option>
                                    <option value="+996">+996 (Kyrgyzstan)</option>
                                    <option value="+856">+856 (Laos)</option>
                                    <option value="+371">+371 (Latvia)</option>
                                    <option value="+961">+961 (Lebanon)</option>
                                    <option value="+266">+266 (Lesotho)</option>
                                    <option value="+231">+231 (Liberia)</option>
                                    <option value="+218">+218 (Libya)</option>
                                    <option value="+423">+423 (Liechtenstein)</option>
                                    <option value="+370">+370 (Lithuania)</option>
                                    <option value="+352">+352 (Luxembourg)</option>
                                    <option value="+853">+853 (Macau)</option>
                                    <option value="+389">+389 (North Macedonia)</option>
                                    <option value="+261">+261 (Madagascar)</option>
                                    <option value="+265">+265 (Malawi)</option>
                                    <option value="+60">+60 (Malaysia)</option>
                                    <option value="+960">+960 (Maldives)</option>
                                    <option value="+223">+223 (Mali)</option>
                                    <option value="+356">+356 (Malta)</option>
                                    <option value="+692">+692 (Marshall Islands)</option>
                                    <option value="+222">+222 (Mauritania)</option>
                                    <option value="+230">+230 (Mauritius)</option>
                                    <option value="+52">+52 (Mexico)</option>
                                    <option value="+691">+691 (Micronesia)</option>
                                    <option value="+373">+373 (Moldova)</option>
                                    <option value="+377">+377 (Monaco)</option>
                                    <option value="+976">+976 (Mongolia)</option>
                                    <option value="+382">+382 (Montenegro)</option>
                                    <option value="+212">+212 (Morocco)</option>
                                    <option value="+258">+258 (Mozambique)</option>
                                    <option value="+264">+264 (Namibia)</option>
                                    <option value="+674">+674 (Nauru)</option>
                                    <option value="+977">+977 (Nepal)</option>
                                    <option value="+31">+31 (Netherlands)</option>
                                    <option value="+687">+687 (New Caledonia)</option>
                                    <option value="+64">+64 (New Zealand)</option>
                                    <option value="+505">+505 (Nicaragua)</option>
                                    <option value="+227">+227 (Niger)</option>
                                    <option value="+234">+234 (Nigeria)</option>
                                    <option value="+47">+47 (Norway)</option>
                                    <option value="+968">+968 (Oman)</option>
                                    <option value="+92">+92 (Pakistan)</option>
                                    <option value="+680">+680 (Palau)</option>
                                    <option value="+970">+970 (Palestine)</option>
                                    <option value="+507">+507 (Panama)</option>
                                    <option value="+675">+675 (Papua New Guinea)</option>
                                    <option value="+595">+595 (Paraguay)</option>
                                    <option value="+51">+51 (Peru)</option>
                                    <option value="+63">+63 (Philippines)</option>
                                    <option value="+48">+48 (Poland)</option>
                                    <option value="+351">+351 (Portugal)</option>
                                    <option value="+974">+974 (Qatar)</option>
                                    <option value="+262">+262 (Réunion)</option>
                                    <option value="+40">+40 (Romania)</option>
                                    <option value="+7">+7 (Russia)</option>
                                    <option value="+250">+250 (Rwanda)</option>
                                    <option value="+1 758">+1 758 (Saint Lucia)</option>
                                    <option value="+1 721">+1 721 (Sint Maarten)</option>
                                    <option value="+290">+290 (Saint Helena)</option>
                                    <option value="+1869">+1 869 (Saint Kitts and Nevis)</option>
                                    <option value="+1758">+1 758 (Saint Lucia)</option>
                                    <option value="+1784">+1 784 (Saint Vincent and the Grenadines)</option>
                                    <option value="+685">+685 (Samoa)</option>
                                    <option value="+378">+378 (San Marino)</option>
                                    <option value="+239">+239 (Sao Tome and Principe)</option>
                                    <option value="+966">+966 (Saudi Arabia)</option>
                                    <option value="+221">+221 (Senegal)</option>
                                    <option value="+381">+381 (Serbia)</option>
                                    <option value="+248">+248 (Seychelles)</option>
                                    <option value="+232">+232 (Sierra Leone)</option>
                                    <option value="+65">+65 (Singapore)</option>
                                    <option value="+421">+421 (Slovakia)</option>
                                    <option value="+386">+386 (Slovenia)</option>
                                    <option value="+677">+677 (Solomon Islands)</option>
                                    <option value="+252">+252 (Somalia)</option>
                                    <option value="+27">+27 (South Africa)</option>
                                    <option value="+82">+82 (South Korea)</option>
                                    <option value="+34">+34 (Spain)</option>
                                    <option value="+94">+94 (Sri Lanka)</option>
                                    <option value="+597">+597 (Suriname)</option>
                                    <option value="+46">+46 (Sweden)</option>
                                    <option value="+41">+41 (Switzerland)</option>
                                    <option value="+963">+963 (Syria)</option>
                                    <option value="+992">+992 (Tajikistan)</option>
                                    <option value="+255">+255 (Tanzania)</option>
                                    <option value="+66">+66 (Thailand)</option>
                                    <option value="+228">+228 (Togo)</option>
                                    <option value="+676">+676 (Tonga)</option>
                                    <option value="+1 868">+1 868 (Trinidad and Tobago)</option>
                                    <option value="+216">+216 (Tunisia)</option>
                                    <option value="+90">+90 (Turkey)</option>
                                    <option value="+993">+993 (Turkmenistan)</option>
                                    <option value="+688">+688 (Tuvalu)</option>
                                    <option value="+256">+256 (Uganda)</option>
                                    <option value="+380">+380 (Ukraine)</option>
                                    <option value="+971">+971 (United Arab Emirates)</option>
                                    <option value="+44">+44 (United Kingdom)</option>
                                    <option value="+1">+1 (United States of America)</option>
                                    <option value="+598">+598 (Uruguay)</option>
                                    <option value="+998">+998 (Uzbekistan)</option>
                                    <option value="+678">+678 (Vanuatu)</option>
                                    <option value="+379">+379 (Vatican City)</option>
                                    <option value="+58">+58 (Venezuela)</option>
                                    <option value="+84">+84 (Vietnam)</option>
                                    <option value="+967">+967 (Yemen)</option>
                                    <option value="+260">+260 (Zambia)</option>
                                    <option value="+263">+263 (Zimbabwe)</option>
                                </select>

                                <input type="text" name="phone" class="form-control form-control-lg form-control-solid" placeholder="Contact No" value="" id="txtPhone" runat="server" />
                            </div>
                            <!--end::Col-->
                        </div>
                        <!--end::Col-->
                        <!--end::Input group-->
                        <!--begin::Input group-->
                        <div class="row mb-6">
                            <!--begin::Label-->
                            <label class="col-lg-4 col-form-label fw-semibold fs-6">
                                <span class="required">Email Id</span>
                                <span class="ms-1" data-bs-toggle="tooltip" title="Please enter valid email id.">
                                    <i class="ki-duotone ki-information-5 text-gray-500 fs-6">
                                        <span class="path1"></span>
                                        <span class="path2"></span>
                                        <span class="path3"></span>
                                    </i>
                                </span>
                            </label>
                            <!--end::Label-->
                            <!--begin::Col-->
                            <div class="col-lg-8 fv-row">
                                <input type="text" name="email" class="form-control form-control-lg form-control-solid" placeholder="Email Id" value="" id="txtEmail" runat="server" />
                            </div>
                            <!--end::Col-->
                        </div>
                        <!--end::Input group-->
                        <!--begin::Input group-->
                        <div class="row mb-6">
                            <!--begin::Label-->
                            <label class="col-lg-4 col-form-label fw-semibold fs-6">
                                <span class="required">Date of Birth</span>
                                <span class="ms-1" data-bs-toggle="tooltip" title="Date Should be Valid">
                                    <i class="ki-duotone ki-information-5 text-gray-500 fs-6">
                                        <span class="path1"></span>
                                        <span class="path2"></span>
                                        <span class="path3"></span>
                                    </i>
                                </span>
                            </label>
                            <!--end::Label-->
                            <!--begin::Col-->
                            <div class="col-lg-8 fv-row">
                                <input type="date" name="dob" class="form-control form-control-lg form-control-solid" placeholder="Enter DOB." id="txtDob" runat="server" />
                            </div>
                            <!--end::Col-->
                        </div>
                        <!--end::Input group-->
                        <!--begin::Input group-->
                        <div class="row mb-6">
                            <!--begin::Label-->
                            <label class="col-lg-4 col-form-label fw-semibold fs-6">
                                <span class="required">Address</span>
                                <span class="ms-1" data-bs-toggle="tooltip" title="Address Should be Valid">
                                    <i class="ki-duotone ki-information-5 text-gray-500 fs-6">
                                        <span class="path1"></span>
                                        <span class="path2"></span>
                                        <span class="path3"></span>
                                    </i>
                                </span>
                            </label>
                            <!--end::Label-->
                            <!--begin::Col-->
                            <div class="col-lg-8 fv-row">
                                <div class="d-flex">
                                    <input type="text" name="flatno" class="form-control form-control-lg form-control-solid me-3 w-75" placeholder="Flat / House no / Tower no" value="" id="txtFlatno" runat="server" />
                                    <input type="text" name="streetname" class="form-control form-control-lg form-control-solid" placeholder="Building name / Street name" value="" id="txtStreetname" runat="server" />

                                </div>
                                <br />

                                <textarea class="form-control form-control form-control-solid" data-kt-autosize="true" placeholder="Sector / Street name / locality" id="txtAddress" runat="server"></textarea>
                            </div>
                            <!--end::Col-->
                        </div>
                        <!--end::Input group-->
                        <!--begin::Input group-->
                        <div class="row mb-6">
                            <!--begin::Label-->
                            <label class="col-lg-4 col-form-label fw-semibold fs-6">
                                <span class="required">Country</span>
                                <span class="ms-1" data-bs-toggle="tooltip" title="Country of origination">
                                    <i class="ki-duotone ki-information-5 text-gray-500 fs-6">
                                        <span class="path1"></span>
                                        <span class="path2"></span>
                                        <span class="path3"></span>
                                    </i>
                                </span>
                            </label>
                            <!--end::Label-->
                            <!--begin::Col-->
                            <div class="col-lg-8 fv-row">
                                <select class="form-select form-select-solid" aria-label="Select Nationality" data-control="select2" data-placeholder="Select Country" name="country" id="ddlCountry" runat="server">
                                    <option></option>
                                    <option data-kt-flag="flags/afghanistan.svg" value="AF">Afghanistan</option>
                                    <option data-kt-flag="flags/aland-islands.svg" value="AX">Aland Islands</option>
                                    <option data-kt-flag="flags/albania.svg" value="AL">Albania</option>
                                    <option data-kt-flag="flags/algeria.svg" value="DZ">Algeria</option>
                                    <option data-kt-flag="flags/american-samoa.svg" value="AS">American Samoa</option>
                                    <option data-kt-flag="flags/andorra.svg" value="AD">Andorra</option>
                                    <option data-kt-flag="flags/angola.svg" value="AO">Angola</option>
                                    <option data-kt-flag="flags/anguilla.svg" value="AI">Anguilla</option>
                                    <option data-kt-flag="flags/antigua-and-barbuda.svg" value="AG">Antigua and Barbuda</option>
                                    <option data-kt-flag="flags/argentina.svg" value="AR">Argentina</option>
                                    <option data-kt-flag="flags/armenia.svg" value="AM">Armenia</option>
                                    <option data-kt-flag="flags/aruba.svg" value="AW">Aruba</option>
                                    <option data-kt-flag="flags/australia.svg" value="AU">Australia</option>
                                    <option data-kt-flag="flags/austria.svg" value="AT">Austria</option>
                                    <option data-kt-flag="flags/azerbaijan.svg" value="AZ">Azerbaijan</option>
                                    <option data-kt-flag="flags/bahamas.svg" value="BS">Bahamas</option>
                                    <option data-kt-flag="flags/bahrain.svg" value="BH">Bahrain</option>
                                    <option data-kt-flag="flags/bangladesh.svg" value="BD">Bangladesh</option>
                                    <option data-kt-flag="flags/barbados.svg" value="BB">Barbados</option>
                                    <option data-kt-flag="flags/belarus.svg" value="BY">Belarus</option>
                                    <option data-kt-flag="flags/belgium.svg" value="BE">Belgium</option>
                                    <option data-kt-flag="flags/belize.svg" value="BZ">Belize</option>
                                    <option data-kt-flag="flags/benin.svg" value="BJ">Benin</option>
                                    <option data-kt-flag="flags/bermuda.svg" value="BM">Bermuda</option>
                                    <option data-kt-flag="flags/bhutan.svg" value="BT">Bhutan</option>
                                    <option data-kt-flag="flags/bolivia.svg" value="BO">Bolivia, Plurinational State of</option>
                                    <option data-kt-flag="flags/bonaire.svg" value="BQ">Bonaire, Sint Eustatius and Saba</option>
                                    <option data-kt-flag="flags/bosnia-and-herzegovina.svg" value="BA">Bosnia and Herzegovina</option>
                                    <option data-kt-flag="flags/botswana.svg" value="BW">Botswana</option>
                                    <option data-kt-flag="flags/brazil.svg" value="BR">Brazil</option>
                                    <option data-kt-flag="flags/british-indian-ocean-territory.svg" value="IO">British Indian Ocean Territory</option>
                                    <option data-kt-flag="flags/brunei.svg" value="BN">Brunei Darussalam</option>
                                    <option data-kt-flag="flags/bulgaria.svg" value="BG">Bulgaria</option>
                                    <option data-kt-flag="flags/burkina-faso.svg" value="BF">Burkina Faso</option>
                                    <option data-kt-flag="flags/burundi.svg" value="BI">Burundi</option>
                                    <option data-kt-flag="flags/cambodia.svg" value="KH">Cambodia</option>
                                    <option data-kt-flag="flags/cameroon.svg" value="CM">Cameroon</option>
                                    <option data-kt-flag="flags/canada.svg" value="CA">Canada</option>
                                    <option data-kt-flag="flags/cape-verde.svg" value="CV">Cape Verde</option>
                                    <option data-kt-flag="flags/cayman-islands.svg" value="KY">Cayman Islands</option>
                                    <option data-kt-flag="flags/central-african-republic.svg" value="CF">Central African Republic</option>
                                    <option data-kt-flag="flags/chad.svg" value="TD">Chad</option>
                                    <option data-kt-flag="flags/chile.svg" value="CL">Chile</option>
                                    <option data-kt-flag="flags/china.svg" value="CN">China</option>
                                    <option data-kt-flag="flags/christmas-island.svg" value="CX">Christmas Island</option>
                                    <option data-kt-flag="flags/cocos-island.svg" value="CC">Cocos (Keeling) Islands</option>
                                    <option data-kt-flag="flags/colombia.svg" value="CO">Colombia</option>
                                    <option data-kt-flag="flags/comoros.svg" value="KM">Comoros</option>
                                    <option data-kt-flag="flags/cook-islands.svg" value="CK">Cook Islands</option>
                                    <option data-kt-flag="flags/costa-rica.svg" value="CR">Costa Rica</option>
                                    <option data-kt-flag="flags/ivory-coast.svg" value="CI">Côte d'Ivoire</option>
                                    <option data-kt-flag="flags/croatia.svg" value="HR">Croatia</option>
                                    <option data-kt-flag="flags/cuba.svg" value="CU">Cuba</option>
                                    <option data-kt-flag="flags/curacao.svg" value="CW">Curaçao</option>
                                    <option data-kt-flag="flags/czech-republic.svg" value="CZ">Czech Republic</option>
                                    <option data-kt-flag="flags/denmark.svg" value="DK">Denmark</option>
                                    <option data-kt-flag="flags/djibouti.svg" value="DJ">Djibouti</option>
                                    <option data-kt-flag="flags/dominica.svg" value="DM">Dominica</option>
                                    <option data-kt-flag="flags/dominican-republic.svg" value="DO">Dominican Republic</option>
                                    <option data-kt-flag="flags/ecuador.svg" value="EC">Ecuador</option>
                                    <option data-kt-flag="flags/egypt.svg" value="EG">Egypt</option>
                                    <option data-kt-flag="flags/el-salvador.svg" value="SV">El Salvador</option>
                                    <option data-kt-flag="flags/equatorial-guinea.svg" value="GQ">Equatorial Guinea</option>
                                    <option data-kt-flag="flags/eritrea.svg" value="ER">Eritrea</option>
                                    <option data-kt-flag="flags/estonia.svg" value="EE">Estonia</option>
                                    <option data-kt-flag="flags/ethiopia.svg" value="ET">Ethiopia</option>
                                    <option data-kt-flag="flags/falkland-islands.svg" value="FK">Falkland Islands (Malvinas)</option>
                                    <option data-kt-flag="flags/fiji.svg" value="FJ">Fiji</option>
                                    <option data-kt-flag="flags/finland.svg" value="FI">Finland</option>
                                    <option data-kt-flag="flags/france.svg" value="FR">France</option>
                                    <option data-kt-flag="flags/french-polynesia.svg" value="PF">French Polynesia</option>
                                    <option data-kt-flag="flags/gabon.svg" value="GA">Gabon</option>
                                    <option data-kt-flag="flags/gambia.svg" value="GM">Gambia</option>
                                    <option data-kt-flag="flags/georgia.svg" value="GE">Georgia</option>
                                    <option data-kt-flag="flags/germany.svg" value="DE">Germany</option>
                                    <option data-kt-flag="flags/ghana.svg" value="GH">Ghana</option>
                                    <option data-kt-flag="flags/gibraltar.svg" value="GI">Gibraltar</option>
                                    <option data-kt-flag="flags/greece.svg" value="GR">Greece</option>
                                    <option data-kt-flag="flags/greenland.svg" value="GL">Greenland</option>
                                    <option data-kt-flag="flags/grenada.svg" value="GD">Grenada</option>
                                    <option data-kt-flag="flags/guam.svg" value="GU">Guam</option>
                                    <option data-kt-flag="flags/guatemala.svg" value="GT">Guatemala</option>
                                    <option data-kt-flag="flags/guernsey.svg" value="GG">Guernsey</option>
                                    <option data-kt-flag="flags/guinea.svg" value="GN">Guinea</option>
                                    <option data-kt-flag="flags/guinea-bissau.svg" value="GW">Guinea-Bissau</option>
                                    <option data-kt-flag="flags/haiti.svg" value="HT">Haiti</option>
                                    <option data-kt-flag="flags/vatican-city.svg" value="VA">Holy See (Vatican City State)</option>
                                    <option data-kt-flag="flags/honduras.svg" value="HN">Honduras</option>
                                    <option data-kt-flag="flags/hong-kong.svg" value="HK">Hong Kong</option>
                                    <option data-kt-flag="flags/hungary.svg" value="HU">Hungary</option>
                                    <option data-kt-flag="flags/iceland.svg" value="IS">Iceland</option>
                                    <option data-kt-flag="flags/india.svg" value="IN">India</option>
                                    <option data-kt-flag="flags/indonesia.svg" value="ID">Indonesia</option>
                                    <option data-kt-flag="flags/iran.svg" value="IR">Iran, Islamic Republic of</option>
                                    <option data-kt-flag="flags/iraq.svg" value="IQ">Iraq</option>
                                    <option data-kt-flag="flags/ireland.svg" value="IE">Ireland</option>
                                    <option data-kt-flag="flags/isle-of-man.svg" value="IM">Isle of Man</option>
                                    <option data-kt-flag="flags/israel.svg" value="IL">Israel</option>
                                    <option data-kt-flag="flags/italy.svg" value="IT">Italy</option>
                                    <option data-kt-flag="flags/jamaica.svg" value="JM">Jamaica</option>
                                    <option data-kt-flag="flags/japan.svg" value="JP">Japan</option>
                                    <option data-kt-flag="flags/jersey.svg" value="JE">Jersey</option>
                                    <option data-kt-flag="flags/jordan.svg" value="JO">Jordan</option>
                                    <option data-kt-flag="flags/kazakhstan.svg" value="KZ">Kazakhstan</option>
                                    <option data-kt-flag="flags/kenya.svg" value="KE">Kenya</option>
                                    <option data-kt-flag="flags/kiribati.svg" value="KI">Kiribati</option>
                                    <option data-kt-flag="flags/north-korea.svg" value="KP">Democratic People's Republic of Korea</option>
                                    <option data-kt-flag="flags/kuwait.svg" value="KW">Kuwait</option>
                                    <option data-kt-flag="flags/kyrgyzstan.svg" value="KG">Kyrgyzstan</option>
                                    <option data-kt-flag="flags/laos.svg" value="LA">Laos</option>
                                    <option data-kt-flag="flags/latvia.svg" value="LV">Latvia</option>
                                    <option data-kt-flag="flags/lebanon.svg" value="LB">Lebanon</option>
                                    <option data-kt-flag="flags/lesotho.svg" value="LS">Lesotho</option>
                                    <option data-kt-flag="flags/liberia.svg" value="LR">Liberia</option>
                                    <option data-kt-flag="flags/libya.svg" value="LY">Libya</option>
                                    <option data-kt-flag="flags/liechtenstein.svg" value="LI">Liechtenstein</option>
                                    <option data-kt-flag="flags/lithuania.svg" value="LT">Lithuania</option>
                                    <option data-kt-flag="flags/luxembourg.svg" value="LU">Luxembourg</option>
                                    <option data-kt-flag="flags/macao.svg" value="MO">Macao</option>
                                    <option data-kt-flag="flags/madagascar.svg" value="MG">Madagascar</option>
                                    <option data-kt-flag="flags/malawi.svg" value="MW">Malawi</option>
                                    <option data-kt-flag="flags/malaysia.svg" value="MY">Malaysia</option>
                                    <option data-kt-flag="flags/maldives.svg" value="MV">Maldives</option>
                                    <option data-kt-flag="flags/mali.svg" value="ML">Mali</option>
                                    <option data-kt-flag="flags/malta.svg" value="MT">Malta</option>
                                    <option data-kt-flag="flags/marshall-island.svg" value="MH">Marshall Islands</option>
                                    <option data-kt-flag="flags/martinique.svg" value="MQ">Martinique</option>
                                    <option data-kt-flag="flags/mauritania.svg" value="MR">Mauritania</option>
                                    <option data-kt-flag="flags/mauritius.svg" value="MU">Mauritius</option>
                                    <option data-kt-flag="flags/mexico.svg" value="MX">Mexico</option>
                                    <option data-kt-flag="flags/micronesia.svg" value="FM">Micronesia</option>
                                    <option data-kt-flag="flags/moldova.svg" value="MD">Moldova</option>
                                    <option data-kt-flag="flags/monaco.svg" value="MC">Monaco</option>
                                    <option data-kt-flag="flags/mongolia.svg" value="MN">Mongolia</option>
                                    <option data-kt-flag="flags/montenegro.svg" value="ME">Montenegro</option>
                                    <option data-kt-flag="flags/montserrat.svg" value="MS">Montserrat</option>
                                    <option data-kt-flag="flags/morocco.svg" value="MA">Morocco</option>
                                    <option data-kt-flag="flags/mozambique.svg" value="MZ">Mozambique</option>
                                    <option data-kt-flag="flags/myanmar.svg" value="MM">Myanmar</option>
                                    <option data-kt-flag="flags/namibia.svg" value="NA">Namibia</option>
                                    <option data-kt-flag="flags/nauru.svg" value="NR">Nauru</option>
                                    <option data-kt-flag="flags/nepal.svg" value="NP">Nepal</option>
                                    <option data-kt-flag="flags/netherlands.svg" value="NL">Netherlands</option>
                                    <option data-kt-flag="flags/new-zealand.svg" value="NZ">New Zealand</option>
                                    <option data-kt-flag="flags/nicaragua.svg" value="NI">Nicaragua</option>
                                    <option data-kt-flag="flags/niger.svg" value="NE">Niger</option>
                                    <option data-kt-flag="flags/nigeria.svg" value="NG">Nigeria</option>
                                    <option data-kt-flag="flags/niue.svg" value="NU">Niue</option>
                                    <option data-kt-flag="flags/norfolk-island.svg" value="NF">Norfolk Island</option>
                                    <option data-kt-flag="flags/northern-mariana-islands.svg" value="MP">Northern Mariana Islands</option>
                                    <option data-kt-flag="flags/norway.svg" value="NO">Norway</option>
                                    <option data-kt-flag="flags/oman.svg" value="OM">Oman</option>
                                    <option data-kt-flag="flags/pakistan.svg" value="PK">Pakistan</option>
                                    <option data-kt-flag="flags/palau.svg" value="PW">Palau</option>
                                    <option data-kt-flag="flags/palestine.svg" value="PS">Palestinian Territory, Occupied</option>
                                    <option data-kt-flag="flags/panama.svg" value="PA">Panama</option>
                                    <option data-kt-flag="flags/papua-new-guinea.svg" value="PG">Papua New Guinea</option>
                                    <option data-kt-flag="flags/paraguay.svg" value="PY">Paraguay</option>
                                    <option data-kt-flag="flags/peru.svg" value="PE">Peru</option>
                                    <option data-kt-flag="flags/philippines.svg" value="PH">Philippines</option>
                                    <option data-kt-flag="flags/poland.svg" value="PL">Poland</option>
                                    <option data-kt-flag="flags/portugal.svg" value="PT">Portugal</option>
                                    <option data-kt-flag="flags/puerto-rico.svg" value="PR">Puerto Rico</option>
                                    <option data-kt-flag="flags/qatar.svg" value="QA">Qatar</option>
                                    <option data-kt-flag="flags/romania.svg" value="RO">Romania</option>
                                    <option data-kt-flag="flags/russia.svg" value="RU">Russian Federation</option>
                                    <option data-kt-flag="flags/rwanda.svg" value="RW">Rwanda</option>
                                    <option data-kt-flag="flags/st-barts.svg" value="BL">Saint Barthélemy</option>
                                    <option data-kt-flag="flags/saint-kitts-and-nevis.svg" value="KN">Saint Kitts and Nevis</option>
                                    <option data-kt-flag="flags/st-lucia.svg" value="LC">Saint Lucia</option>
                                    <option data-kt-flag="flags/sint-maarten.svg" value="MF">Saint Martin (French part)</option>
                                    <option data-kt-flag="flags/st-vincent-and-the-grenadines.svg" value="VC">Saint Vincent and the Grenadines</option>
                                    <option data-kt-flag="flags/samoa.svg" value="WS">Samoa</option>
                                    <option data-kt-flag="flags/san-marino.svg" value="SM">San Marino</option>
                                    <option data-kt-flag="flags/sao-tome-and-prince.svg" value="ST">Sao Tome and Principe</option>
                                    <option data-kt-flag="flags/saudi-arabia.svg" value="SA">Saudi Arabia</option>
                                    <option data-kt-flag="flags/senegal.svg" value="SN">Senegal</option>
                                    <option data-kt-flag="flags/serbia.svg" value="RS">Serbia</option>
                                    <option data-kt-flag="flags/seychelles.svg" value="SC">Seychelles</option>
                                    <option data-kt-flag="flags/sierra-leone.svg" value="SL">Sierra Leone</option>
                                    <option data-kt-flag="flags/singapore.svg" value="SG">Singapore</option>
                                    <option data-kt-flag="flags/sint-maarten.svg" value="SX">Sint Maarten (Dutch part)</option>
                                    <option data-kt-flag="flags/slovakia.svg" value="SK">Slovakia</option>
                                    <option data-kt-flag="flags/slovenia.svg" value="SI">Slovenia</option>
                                    <option data-kt-flag="flags/solomon-islands.svg" value="SB">Solomon Islands</option>
                                    <option data-kt-flag="flags/somalia.svg" value="SO">Somalia</option>
                                    <option data-kt-flag="flags/south-africa.svg" value="ZA">South Africa</option>
                                    <option data-kt-flag="flags/south-korea.svg" value="KR">South Korea</option>
                                    <option data-kt-flag="flags/south-sudan.svg" value="SS">South Sudan</option>
                                    <option data-kt-flag="flags/spain.svg" value="ES">Spain</option>
                                    <option data-kt-flag="flags/sri-lanka.svg" value="LK">Sri Lanka</option>
                                    <option data-kt-flag="flags/sudan.svg" value="SD">Sudan</option>
                                    <option data-kt-flag="flags/suriname.svg" value="SR">Suriname</option>
                                    <option data-kt-flag="flags/swaziland.svg" value="SZ">Swaziland</option>
                                    <option data-kt-flag="flags/sweden.svg" value="SE">Sweden</option>
                                    <option data-kt-flag="flags/switzerland.svg" value="CH">Switzerland</option>
                                    <option data-kt-flag="flags/syria.svg" value="SY">Syrian Arab Republic</option>
                                    <option data-kt-flag="flags/taiwan.svg" value="TW">Taiwan, Province of China</option>
                                    <option data-kt-flag="flags/tajikistan.svg" value="TJ">Tajikistan</option>
                                    <option data-kt-flag="flags/tanzania.svg" value="TZ">Tanzania</option>
                                    <option data-kt-flag="flags/thailand.svg" value="TH">Thailand</option>
                                    <option data-kt-flag="flags/togo.svg" value="TG">Togo</option>
                                    <option data-kt-flag="flags/tokelau.svg" value="TK">Tokelau</option>
                                    <option data-kt-flag="flags/tonga.svg" value="TO">Tonga</option>
                                    <option data-kt-flag="flags/trinidad-and-tobago.svg" value="TT">Trinidad and Tobago</option>
                                    <option data-kt-flag="flags/tunisia.svg" value="TN">Tunisia</option>
                                    <option data-kt-flag="flags/turkey.svg" value="TR">Turkey</option>
                                    <option data-kt-flag="flags/turkmenistan.svg" value="TM">Turkmenistan</option>
                                    <option data-kt-flag="flags/turks-and-caicos.svg" value="TC">Turks and Caicos Islands</option>
                                    <option data-kt-flag="flags/tuvalu.svg" value="TV">Tuvalu</option>
                                    <option data-kt-flag="flags/uganda.svg" value="UG">Uganda</option>
                                    <option data-kt-flag="flags/ukraine.svg" value="UA">Ukraine</option>
                                    <option data-kt-flag="flags/united-arab-emirates.svg" value="AE">United Arab Emirates</option>
                                    <option data-kt-flag="flags/united-kingdom.svg" value="GB">United Kingdom</option>
                                    <option data-kt-flag="flags/united-states.svg" value="US">United States of America</option>
                                    <option data-kt-flag="flags/uruguay.svg" value="UY">Uruguay</option>
                                    <option data-kt-flag="flags/uzbekistan.svg" value="UZ">Uzbekistan</option>
                                    <option data-kt-flag="flags/vanuatu.svg" value="VU">Vanuatu</option>
                                    <option data-kt-flag="flags/venezuela.svg" value="VE">Venezula</option>
                                    <option data-kt-flag="flags/vietnam.svg" value="VN">Vietnam</option>
                                    <option data-kt-flag="flags/virgin-islands.svg" value="VI">Virgin Islands</option>
                                    <option data-kt-flag="flags/yemen.svg" value="YE">Yemen</option>
                                    <option data-kt-flag="flags/zambia.svg" value="ZM">Zambia</option>
                                    <option data-kt-flag="flags/zimbabwe.svg" value="ZW">Zimbabwe</option>
                                </select>
                            </div>
                            <!--end::Col-->
                        </div>
                        <!--end::Input group-->
                        <!--begin::Input group-->
                        <div class="row mb-6">
                            <!--begin::Label-->
                            <label class="col-lg-4 col-form-label fw-semibold fs-6">
                                <span class="required">Nationality</span>
                                <span class="ms-1" data-bs-toggle="tooltip" title="Country of origination">
                                    <i class="ki-duotone ki-information-5 text-gray-500 fs-6">
                                        <span class="path1"></span>
                                        <span class="path2"></span>
                                        <span class="path3"></span>
                                    </i>
                                </span>
                            </label>
                            <!--end::Label-->
                            <!--begin::Col-->
                            <div class="col-lg-8 fv-row">
                                <select class="form-select form-select-solid" aria-label="Select Nationality" data-control="select2" data-placeholder="Select Nationality" name="Nationality" id="ddlNationality" runat="server">
                                    <option></option>
                                    <option value='afghan'>Afghan</option>
                                    <option value='albanian'>Albanian</option>
                                    <option value='algerian'>Algerian</option>
                                    <option value='american'>American</option>
                                    <option value='andorran'>Andorran</option>
                                    <option value='angolan'>Angolan</option>
                                    <option value='anguillan'>Anguillan</option>
                                    <option value='citizen-of-antigua-and-barbuda'>Citizen of Antigua and Barbuda</option>
                                    <option value='argentine'>Argentine</option>
                                    <option value='armenianaustralian'>ArmenianAustralian</option>
                                    <option value='austrian'>Austrian</option>
                                    <option value='azerbaijani'>Azerbaijani</option>
                                    <option value='bahamian'>Bahamian</option>
                                    <option value='bahraini'>Bahraini</option>
                                    <option value='bangladeshi'>Bangladeshi</option>
                                    <option value='barbadian'>Barbadian</option>
                                    <option value='belarusian'>Belarusian</option>
                                    <option value='belgian'>Belgian</option>
                                    <option value='belizean'>Belizean</option>
                                    <option value='beninese'>Beninese</option>
                                    <option value='bermudian'>Bermudian</option>
                                    <option value='bhutanese'>Bhutanese</option>
                                    <option value='bolivian'>Bolivian</option>
                                    <option value='citizen-of-bosnia-and-herzegovina'>Citizen of Bosnia and Herzegovina</option>
                                    <option value='botswanan'>Botswanan</option>
                                    <option value='brazilian'>Brazilian</option>
                                    <option value='british'>British</option>
                                    <option value='british-virgin-islander'>British Virgin Islander</option>
                                    <option value='bruneian'>Bruneian</option>
                                    <option value='bulgarian'>Bulgarian</option>
                                    <option value='burkinan'>Burkinan</option>
                                    <option value='burmese'>Burmese</option>
                                    <option value='burundian'>Burundian</option>
                                    <option value='cambodian'>Cambodian</option>
                                    <option value='cameroonian'>Cameroonian</option>
                                    <option value='canadian'>Canadian</option>
                                    <option value='cape-verdean'>Cape Verdean</option>
                                    <option value='cayman-islander'>Cayman Islander</option>
                                    <option value='central-african'>Central African</option>
                                    <option value='chadian'>Chadian</option>
                                    <option value='chilean'>Chilean</option>
                                    <option value='chinese'>Chinese</option>
                                    <option value='colombian'>Colombian</option>
                                    <option value='comoran'>Comoran</option>
                                    <option value='congolese-(congo)'>Congolese (Congo)</option>
                                    <option value='congolese-(drc)'>Congolese (DRC)</option>
                                    <option value='cook-islander'>Cook Islander</option>
                                    <option value='costa-rican'>Costa Rican</option>
                                    <option value='croatian'>Croatian</option>
                                    <option value='cuban'>Cuban</option>
                                    <option value='cymraes'>Cymraes</option>
                                    <option value='cymro'>Cymro</option>
                                    <option value='cypriot'>Cypriot</option>
                                    <option value='czech'>Czech</option>
                                    <option value='danish'>Danish</option>
                                    <option value='djiboutian'>Djiboutian</option>
                                    <option value='dominican'>Dominican</option>
                                    <option value='citizen-of-the-dominican-republic'>Citizen of the Dominican Republic</option>
                                    <option value='dutch'>Dutch</option>
                                    <option value='east-timorese'>East Timorese</option>
                                    <option value='ecuadorean'>Ecuadorean</option>
                                    <option value='egyptian'>Egyptian</option>
                                    <option value='emirati'>Emirati</option>
                                    <option value='english'>English</option>
                                    <option value='equatorial-guinean'>Equatorial Guinean</option>
                                    <option value='eritrean'>Eritrean</option>
                                    <option value='estonian'>Estonian</option>
                                    <option value='ethiopian'>Ethiopian</option>
                                    <option value='faroese'>Faroese</option>
                                    <option value='fijian'>Fijian</option>
                                    <option value='filipino'>Filipino</option>
                                    <option value='finnish'>Finnish</option>
                                    <option value='french'>French</option>
                                    <option value='gabonese'>Gabonese</option>
                                    <option value='gambian'>Gambian</option>
                                    <option value='georgian'>Georgian</option>
                                    <option value='german'>German</option>
                                    <option value='ghanaian'>Ghanaian</option>
                                    <option value='gibraltarian'>Gibraltarian</option>
                                    <option value='greek'>Greek</option>
                                    <option value='greenlandic'>Greenlandic</option>
                                    <option value='grenadian'>Grenadian</option>
                                    <option value='guamanian'>Guamanian</option>
                                    <option value='guatemalan'>Guatemalan</option>
                                    <option value='citizen-of-guinea-bissau'>Citizen of Guinea-Bissau</option>
                                    <option value='guinean'>Guinean</option>
                                    <option value='guyanese'>Guyanese</option>
                                    <option value='haitian'>Haitian</option>
                                    <option value='honduran'>Honduran</option>
                                    <option value='hong-konger'>Hong Konger</option>
                                    <option value='hungarian'>Hungarian</option>
                                    <option value='icelandic'>Icelandic</option>
                                    <option value='indian'>Indian</option>
                                    <option value='indonesian'>Indonesian</option>
                                    <option value='iranian'>Iranian</option>
                                    <option value='iraqi'>Iraqi</option>
                                    <option value='irish'>Irish</option>
                                    <option value='israeli'>Israeli</option>
                                    <option value='italian'>Italian</option>
                                    <option value='ivorian'>Ivorian</option>
                                    <option value='jamaican'>Jamaican</option>
                                    <option value='japanese'>Japanese</option>
                                    <option value='jordanian'>Jordanian</option>
                                    <option value='kazakh'>Kazakh</option>
                                    <option value='kenyan'>Kenyan</option>
                                    <option value='kittitian'>Kittitian</option>
                                    <option value='citizen-of-kiribati'>Citizen of Kiribati</option>
                                    <option value='kosovan'>Kosovan</option>
                                    <option value='kuwaiti'>Kuwaiti</option>
                                    <option value='kyrgyz'>Kyrgyz</option>
                                    <option value='lao'>Lao</option>
                                    <option value='latvian'>Latvian</option>
                                    <option value='lebanese'>Lebanese</option>
                                    <option value='liberian'>Liberian</option>
                                    <option value='libyan'>Libyan</option>
                                    <option value='liechtenstein-citizen'>Liechtenstein citizen</option>
                                    <option value='lithuanian'>Lithuanian</option>
                                    <option value='luxembourger'>Luxembourger</option>
                                    <option value='macanese'>Macanese</option>
                                    <option value='macedonian'>Macedonian</option>
                                    <option value='malagasy'>Malagasy</option>
                                    <option value='malawian'>Malawian</option>
                                    <option value='malaysian'>Malaysian</option>
                                    <option value='maldivian'>Maldivian</option>
                                    <option value='malian'>Malian</option>
                                    <option value='maltese'>Maltese</option>
                                    <option value='marshallese'>Marshallese</option>
                                    <option value='martiniquais'>Martiniquais</option>
                                    <option value='mauritanian'>Mauritanian</option>
                                    <option value='mauritian'>Mauritian</option>
                                    <option value='mexican'>Mexican</option>
                                    <option value='micronesian'>Micronesian</option>
                                    <option value='moldovan'>Moldovan</option>
                                    <option value='monegasque'>Monegasque</option>
                                    <option value='mongolian'>Mongolian</option>
                                    <option value='montenegrin'>Montenegrin</option>
                                    <option value='montserratian'>Montserratian</option>
                                    <option value='moroccan'>Moroccan</option>
                                    <option value='mosotho'>Mosotho</option>
                                    <option value='mozambican'>Mozambican</option>
                                    <option value='namibian'>Namibian</option>
                                    <option value='nauruan'>Nauruan</option>
                                    <option value='nepalese'>Nepalese</option>
                                    <option value='new-zealander'>New Zealander</option>
                                    <option value='nicaraguan'>Nicaraguan</option>
                                    <option value='nigerian'>Nigerian</option>
                                    <option value='nigerien'>Nigerien</option>
                                    <option value='niuean'>Niuean</option>
                                    <option value='north-korean'>North Korean</option>
                                    <option value='northern-irish'>Northern Irish</option>
                                    <option value='norwegian'>Norwegian</option>
                                    <option value='omani'>Omani</option>
                                    <option value='pakistani'>Pakistani</option>
                                    <option value='palauan'>Palauan</option>
                                    <option value='palestinian'>Palestinian</option>
                                    <option value='panamanian'>Panamanian</option>
                                    <option value='papua-new-guinean'>Papua New Guinean</option>
                                    <option value='paraguayan'>Paraguayan</option>
                                    <option value='peruvian'>Peruvian</option>
                                    <option value='pitcairn-islander'>Pitcairn Islander</option>
                                    <option value='polish'>Polish</option>
                                    <option value='portuguese'>Portuguese</option>
                                    <option value='prydeinig'>Prydeinig</option>
                                    <option value='puerto-rican'>Puerto Rican</option>
                                    <option value='qatari'>Qatari</option>
                                    <option value='romanian'>Romanian</option>
                                    <option value='russian'>Russian</option>
                                    <option value='rwandan'>Rwandan</option>
                                    <option value='salvadorean'>Salvadorean</option>
                                    <option value='sammarinese'>Sammarinese</option>
                                    <option value='samoan'>Samoan</option>
                                    <option value='sao-tomean'>Sao Tomean</option>
                                    <option value='saudi-arabian'>Saudi Arabian</option>
                                    <option value='scottish'>Scottish</option>
                                    <option value='senegalese'>Senegalese</option>
                                    <option value='serbian'>Serbian</option>
                                    <option value='citizen-of-seychelles'>Citizen of Seychelles</option>
                                    <option value='sierra-leonean'>Sierra Leonean</option>
                                    <option value='singaporean'>Singaporean</option>
                                    <option value='slovak'>Slovak</option>
                                    <option value='slovenian'>Slovenian</option>
                                    <option value='solomon-islander'>Solomon Islander</option>
                                    <option value='somali'>Somali</option>
                                    <option value='south-african'>South African</option>
                                    <option value='south-korean'>South Korean</option>
                                    <option value='south-sudanese'>South Sudanese</option>
                                    <option value='spanish'>Spanish</option>
                                    <option value='sri-lankan'>Sri Lankan</option>
                                    <option value='st-helenian'>St Helenian</option>
                                    <option value='st-lucian'>St Lucian</option>
                                    <option value='stateless'>Stateless</option>
                                    <option value='sudanese'>Sudanese</option>
                                    <option value='surinamese'>Surinamese</option>
                                    <option value='swazi'>Swazi</option>
                                    <option value='swedish'>Swedish</option>
                                    <option value='swiss'>Swiss</option>
                                    <option value='syrian'>Syrian</option>
                                    <option value='taiwanese'>Taiwanese</option>
                                    <option value='tajik'>Tajik</option>
                                    <option value='tanzanian'>Tanzanian</option>
                                    <option value='thai'>Thai</option>
                                    <option value='togolese'>Togolese</option>
                                    <option value='tongan'>Tongan</option>
                                    <option value='trinidadian'>Trinidadian</option>
                                    <option value='tristanian'>Tristanian</option>
                                    <option value='tunisian'>Tunisian</option>
                                    <option value='turkish'>Turkish</option>
                                    <option value='turkmen'>Turkmen</option>
                                    <option value='turks-and-caicos-islander'>Turks and Caicos Islander</option>
                                    <option value='tuvaluan'>Tuvaluan</option>
                                    <option value='ugandan'>Ugandan</option>
                                    <option value='ukrainian'>Ukrainian</option>
                                    <option value='uruguayan'>Uruguayan</option>
                                    <option value='uzbek'>Uzbek</option>
                                    <option value='vatican-citizen'>Vatican citizen</option>
                                    <option value='citizen-of-vanuatu'>Citizen of Vanuatu</option>
                                    <option value='venezuelan'>Venezuelan</option>
                                    <option value='vietnamese'>Vietnamese</option>
                                    <option value='vincentian'>Vincentian</option>
                                    <option value='wallisian'>Wallisian</option>
                                    <option value='welsh'>Welsh</option>
                                    <option value='yemeni'>Yemeni</option>
                                    <option value='zambian'>Zambian</option>
                                    <option value='zimbabwean'>Zimbabwean</option>
                                </select>
                            </div>
                            <!--end::Col-->
                        </div>
                        <!--end::Input group-->
                    </div>
                    <!--end::Card body-->
                    <!--begin::Actions-->
                    <div class="card-footer d-flex justify-content-end py-6 px-9">
                        <button type="reset" class="btn btn-light btn-active-light-primary me-2">Discard</button>
                        <!--<asp:Button ID="btnSave" runat="server" Text="Save Changes" OnClick="btnSave_Click" CssClass="btn btn-primary" /> -->
                        <button type="submit" class="btn btn-primary" id="kt_account_profile_details_submit">Save Changes</button>
                    </div>
                    <!--end::Actions-->
                </form>
                <!--end::Form-->
            </div>
            <!--end::Content-->
        </div>
        <!--end::Basic info-->
        <!--begin::Sign-in Method-->
        <div class="card mb-5 mb-xl-10">
            <!--begin::Card header-->
            <div class="card-header border-0 cursor-pointer" role="button" data-bs-toggle="collapse" data-bs-target="#change_email_address">
                <div class="card-title m-0">
                    <h3 class="fw-bold m-0">Change Email Address</h3>
                </div>
            </div>
            <!--end::Card header-->
            <!--begin::Content-->
            <div id="kt_account_settings_signin_method" class="collapse show">
                <!--begin::Card body-->
                <div class="card-body border-top p-9">
                    <!--begin::Email Address-->
                    <div class="d-flex flex-wrap align-items-center">
                        <!--begin::Label-->
                        <div id="kt_signin_email">
                            <div class="fs-6 fw-bold mb-1">Email Address</div>
                            <div class="fw-semibold text-gray-600">a@b.com</div>
                        </div>
                        <!--end::Label-->
                        <!--begin::Edit-->
                        <div id="kt_signin_email_edit" class="flex-row-fluid d-none">
                            <!--begin::Form-->
                            <form id="kt_signin_change_email" class="form" novalidate="novalidate">
                                <div class="row mb-6">
                                    <div class="col-lg-6 mb-4 mb-lg-0">
                                        <div class="fv-row mb-0">
                                            <label for="emailaddress" class="form-label fs-6 fw-bold mb-3">Enter New Email Address</label>
                                            <input type="email" class="form-control form-control-lg form-control-solid" id="emailaddress" placeholder="Email Address" name="emailaddress" value="support@keenthemes.com" />
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="fv-row mb-0">
                                            <!--begin::Section-->
                                            <div class="mb-0" id="confirmemailpassword" name="confirmemailpassword" style="display: none;">
                                                <!--begin::Label-->
                                                <div class="fw-bold text-start text-dark fs-6 mb-1 ms-1">Type your 6 digit security code</div>
                                                <!--end::Label-->
                                                <!--begin::Input group-->
                                                <div class="d-flex flex-wrap flex-stack" id="inputs">
                                                    <input type="text" name="code_1" data-inputmask="'mask': '9', 'placeholder': ''" maxlength="1" class="form-control bg-transparent h-60px w-60px fs-2qx text-center mx-1 my-2" value="" />
                                                    <input type="text" name="code_2" data-inputmask="'mask': '9', 'placeholder': ''" maxlength="1" class="form-control bg-transparent h-60px w-60px fs-2qx text-center mx-1 my-2" value="" />
                                                    <input type="text" name="code_3" data-inputmask="'mask': '9', 'placeholder': ''" maxlength="1" class="form-control bg-transparent h-60px w-60px fs-2qx text-center mx-1 my-2" value="" />
                                                    <input type="text" name="code_4" data-inputmask="'mask': '9', 'placeholder': ''" maxlength="1" class="form-control bg-transparent h-60px w-60px fs-2qx text-center mx-1 my-2" value="" />
                                                    <input type="text" name="code_5" data-inputmask="'mask': '9', 'placeholder': ''" maxlength="1" class="form-control bg-transparent h-60px w-60px fs-2qx text-center mx-1 my-2" value="" />
                                                    <input type="text" name="code_6" data-inputmask="'mask': '9', 'placeholder': ''" maxlength="1" class="form-control bg-transparent h-60px w-60px fs-2qx text-center mx-1 my-2" value="" />
                                                </div>
                                                <!--begin::Input group-->
                                            </div>
                                            <!--end::Section-->

                                        </div>
                                    </div>
                                </div>

                                <div class="d-flex mb-3">
                                    <button type="button" id="kt_signin_submit" class="btn btn-lg btn-primary fw-bold me-3">
                                        <span class="indicator-label">Get OTP</span>
                                        <span class="indicator-progress">
                                            Please wait...
                                            <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                                        </span>
                                    </button>

                                    <button id="kt_signin_cancel" type="button" class="btn btn-color-gray-400 btn-active-light-primary px-6 mb-4" style="display: none;">Resend OTP</button>
                                </div>

                                <div class="fw-semibold fs-6 mb-3 text-muted" id="kt_otp_timer_msg" style="display: none;">
                                    <span class="me-1">Didn’t get the code ? click on Resend OTP in</span> <span class="text-primary">20 seconds</span>

                                </div>

                                <div class="card-footer d-flex justify-content-end py-6 px-9">
                                    <button type="button" id="kt_sing_in_two_factor_submit" class="btn btn-lg btn-primary fw-bold" style="display: none;">
                                        <span class="indicator-label">Submit</span>
                                        <span class="indicator-progress">
                                            Please wait...
                                            <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                                        </span>
                                    </button>


                                </div>



                            </form>
                            <!--end::Form-->
                        </div>
                        <!--end::Edit-->
                        <!--begin::Action-->
                        <div id="kt_signin_email_button" class="ms-auto">
                            <button class="btn btn-light btn-active-light-primary">Change Email</button>
                        </div>
                        <!--end::Action-->
                    </div>
                    <!--end::Email Address-->

                </div>
                <!--end::Card body-->
            </div>
            <!--end::Content-->
        </div>
        <!--end::Sign-in Method-->

    </div>
    <!--end::Content container-->
</div>