
@{
    ViewData["Title"] = "RegisteredCaseDetails";
}

<h1>Registered Case-Details</h1>

     <!--begin::Basic info-->
<div class="card mb-5 mb-xl-10">
				<!--begin::Card header-->
				<div class="card-header border-0 cursor-pointer" role="button" data-bs-toggle="collapse" data-bs-target="#kt_account_profile_details" aria-expanded="true" aria-controls="kt_account_profile_details">
					<!--begin::Card title-->
					<div class="card-title m-0">
						<h3 class="fw-bold m-0">Case Details</h3>
					</div>
					<!--end::Card title-->
				</div>
				<!--begin::Card header-->
				<!--begin::Content-->
				<div id="kt_account_settings_profile_details" class="collapse show">
					<!--begin::Form-->
					<form id="kt_account_profile_details_form" class="form">
						<!--begin::Card body-->
						<div class="card-body border-top p-9">

                            <!--begin::Input group-->
							<div class="row mb-6">
                               <!--begin::Label-->
								<label class="col-lg-4 col-form-label required fw-bold fs-4">Assign Lawyer.
                                <span class="ms-1" data-bs-toggle="tooltip" title="Case Type and Lawyer Type Should Match. lawyer will come according to case-type">
										<i class="ki-duotone ki-information-5 text-gray-500 fs-6">
											<span class="path1"></span>
											<span class="path2"></span>
											<span class="path3"></span>
										</i>
									</span>
                                </label>
								<!--end::Label-->
								<!--begin::Col-->
								<div class="col-lg-8">
									<!--begin::Row-->
									<div class="row">
										<!--begin::Col-->
										<div class="col-lg-6 fv-row">
                                            <select name="lawyertype" aria-label="Select a Country" data-control="select2" data-placeholder="Select a Lawyer Type" class="form-select form-select-solid form-select-lg fw-semibold">
				                            <option value="">Select a Lawyer Type</option>
                                            <option value="criminalDefense">Criminal Defense Lawyer</option>
                                            <option value="civil">Civil Lawyer</option>
                                            <option value="familyLaw">Family Law Attorney</option>
                                            <option value="personalInjury">Personal Injury Lawyer</option>
                                            <option value="corporate">Corporate Lawyer</option>
                                            <option value="immigration">Immigration Attorney</option>
                                            </select>
                                       </div>
										<!--end::Col-->
                                        <div class="col-lg-6 fv-row">
                                            <select name="lawyer" aria-label="Select a Lawyer" data-control="select2" data-placeholder="Select Lawyer" class="form-select form-select-solid form-select-lg fw-semibold">
				                            <option value="">Select a Lawyer</option>
                                            <option value="lawyer1">Lawyer 1</option>
                                            <option value="lawyer2">Lawyer 2</option>
                                            <option value="lawyer3">Lawyer 3</option>
                                            </select>
                                       </div>
										<!--end::Col-->
										
										</div>
									<!--end::Row-->
								</div>
								<!--end::Col-->
							</div>
							<!--end::Input group-->
						
<br>





							<!--begin::Input group-->
							<div class="row mb-6">
								<!--begin::Label-->
								<label class="col-lg-4 col-form-label required fw-semibold fs-6">Case No.</label>
								<!--end::Label-->
								<!--begin::Col-->
								<div class="col-lg-8">
									<!--begin::Row-->
									<div class="row">
										<!--begin::Col-->
										<div class="col-lg-6 fv-row">
									123456
                                    	</div>
										<!--end::Col-->
										</div>
									<!--end::Row-->
								</div>
								<!--end::Col-->
							</div>
							<!--end::Input group-->
							<!--begin::Input group-->
							<div class="row mb-6">
								<!--begin::Label-->
								<label class="col-lg-4 col-form-label fw-semibold fs-6">
									<span class="required">Client Name</span>
									
								</label>
								<!--end::Label-->
								<!--begin::Col-->
								<div class="col-lg-8 fv-row">
							John Doe
                            	</div>
								<!--end::Col-->
							</div>
							<!--end::Input group-->
							<!--begin::Input group-->
							<div class="row mb-6">
								<!--begin::Label-->
								<label class="col-lg-4 col-form-label fw-semibold fs-6">
									<span class="required">Client Email</span>
									
								</label>
								<!--end::Label-->
								<!--begin::Col-->
								<div class="col-lg-8 fv-row">
							johndoe@gmail.com	</div>
								<!--end::Col-->
							</div>
							<!--end::Input group-->
							<!--begin::Input group-->
							<div class="row mb-6">
								<!--begin::Label-->
								<label class="col-lg-4 col-form-label fw-semibold fs-6">
									<span class="required">Client Contact</span>
									
								</label>
								<!--end::Label-->

								<!--begin::Col-->
								<div class="col-lg-8 fv-row">
                                    +971 258 965 1220
								</div>
								<!--end::Col-->
							</div>
							<!--end::Input group-->
							<!--begin::Input group-->
							<div class="row mb-6">
								<!--begin::Label-->
								<label class="col-lg-4 col-form-label fw-semibold fs-6">
									<span class="required">Client Address</span>
									
								</label>
								<!--end::Label-->
								<!--begin::Col-->
								<div class="col-lg-8 fv-row">
                                    123, black street
								</div>
								<!--end::Col-->
							</div>
							<!--end::Input group-->
							<!--begin::Input group-->
							<div class="row mb-6">
								<!--begin::Label-->
								<label class="col-lg-4 col-form-label fw-semibold fs-6">
									<span class="required">Client Nationality</span>
									
								</label>
								<!--end::Label-->
								<!--begin::Col-->
								<div class="col-lg-8 fv-row">
                                    Sharjah
                                    </div>
								<!--end::Col-->
							</div>
							<!--end::Input group-->

                            <!--begin::Input group-->
							<div class="row mb-6">
								<!--begin::Label-->
								<label class="col-lg-4 col-form-label fw-semibold fs-6">
									<span class="required">Case Type</span>
									
								</label>
								<!--end::Label-->
								<!--begin::Col-->
								<div class="col-lg-8 fv-row">
                                    Civil Law
                                        </div>
								<!--end::Col-->
							</div>
							<!--end::Input group-->

                            <!--begin::Input group-->
							<div class="row mb-6">
								<!--begin::Label-->
								<label class="col-lg-4 col-form-label fw-semibold fs-6">
                                    <span class="required">Case Description</span>
									
								</label>
								<!--end::Label-->
								<!--begin::Col-->
								<div class="col-lg-8 fv-row">
                                    Property Sale
                                        </div>
								<!--end::Col-->
							</div>
							<!--end::Input group-->

                            <!--begin::Input group-->
							<div class="row mb-6">
								<!--begin::Label-->
								<label class="col-lg-4 col-form-label fw-semibold fs-6">
									<span class="required">Case Documents</span>
									
								</label>
								<!--end::Label-->
									<!--begin::Col-->
								<div class="col-lg-8 fv-row">
                                    Uploaded
								    </div>
								<!--end::Col-->
							</div>
							<!--end::Input group-->

                            <!--begin::Input group-->
							<div class="row mb-6">
								<!--begin::Label-->
								<label class="col-lg-4 col-form-label fw-semibold fs-6">
									<span class="required">Opp.Party </span>
									
								</label>
								<!--end::Label-->
						
								<!--begin::Col-->
								<div class="col-lg-8 fv-row">
                                    XYZ Corporation
								    </div>
								<!--end::Col-->
							</div>
							<!--end::Input group-->

                            <!--begin::Input group-->
							<div class="row mb-6">
								<!--begin::Label-->
								<label class="col-lg-4 col-form-label fw-semibold fs-6">
									<span class="required">Opp.Party Email</span>
									
								</label>
								<!--end::Label-->
								<!--begin::Col-->
								<div class="col-lg-8 fv-row">
                                    xyz@gmail.com
                                        </div>
								<!--end::Col-->
							</div>
							<!--end::Input group-->

                            <!--begin::Input group-->
							<div class="row mb-6">
								<!--begin::Label-->
								<label class="col-lg-4 col-form-label fw-semibold fs-6">
									<span class="required">Opp.Party Contact No.</span>
									
								</label>
								<!--end::Label-->
								<!--begin::Col-->
								<div class="col-lg-8 fv-row">
                                    +971 258 963 2020
                                        </div>
								<!--end::Col-->
							</div>
							<!--end::Input group-->

                            <!--begin::Input group-->
							<div class="row mb-6">
								<!--begin::Label-->
								<label class="col-lg-4 col-form-label fw-semibold fs-6">
									<span class="required">Opp.Party Address</span>
									
								</label>
								<!--end::Label-->
						<!--begin::Col-->
								<div class="col-lg-8 fv-row">
                                    79, White Street
                                                </div>
								<!--end::Col-->
							</div>
							<!--end::Input group-->

                            <!--begin::Input group-->
							<div class="row mb-6">
								<!--begin::Label-->
								<label class="col-lg-4 col-form-label fw-semibold fs-6">
									<span class="required">Opp.Party Nationality</span>
									
								</label>
								<!--end::Label-->
							<!--begin::Col-->
								<div class="col-lg-8 fv-row">
                                    Dubai        </div>
								<!--end::Col-->
							</div>
							<!--end::Input group-->

                        

                            <!--begin::Actions-->
<div class="card-footer d-flex justify-content-end py-6 px-9">
				<button type="reset" class="btn btn-light btn-active-light-primary me-2">Discard</button>
				<button type="submit" class="btn btn-primary" id="kt_account_profile_details_submit">Save Changes</button>
</div>
<!--end::Actions-->

</form>

						</div>
						<!--end::Card body-->
				













                         
                </div>
				
			

          