@{
    // Master layout
    Layout = "~/Views/Layout/Master.cshtml";

    // Layout options
    KTTheme.AddHtmlClass("body", "app-blank");
}
<!--begin::Root-->
<div class="d-flex flex-column flex-root" id="kt_app_root">
    <!--begin::Page bg image-->
    <style>
        body {
            background-image: url('assets/media/auth/bg8.jpg');
        }

        [data-bs-theme="dark"] body {
            background-image: url('assets/media/auth/bg8-dark.jpg');
        }
    </style>
    <!--end::Page bg image-->
    <!--begin::Authentication - Signup Welcome Message -->
    <div class="d-flex flex-column flex-center flex-column-fluid">
        <!--begin::Content-->
        <div class="d-flex flex-column flex-center text-center p-10">
            <!--begin::Wrapper-->
            <div class="card card-flush w-md-650px py-5">
                <div class="card-body py-15 py-lg-20">
                    <!--begin::Logo-->
                    <div class="mb-7">
                        <a href="home" class="">
                            <img alt="Logo" src="assets/media/logos/logo-blue.png" class="h-40px" />
                        </a>
                    </div>
                    <!--end::Logo-->
                    <!--begin::Title-->
                    <h1 class="fw-bolder text-gray-900 mb-5">Welcome to Affordable Justice</h1>
                    <!--end::Title-->
                    <!--begin::Text-->
                    <div style="text-align: left; margin: 0 20px; padding: 10px; background-color: #ffffff; border-radius: 6px">
                        <!--begin:Email content-->
                        <div style="padding-bottom: 15px">
                            Hello <label id="lblUserName" runat="server"></label>,
                            Greetings!
                        </div>

                        <div style="padding-bottom: 15px">
                            On behalf of Team Affordable Justice, we extend a sincere welcome. We deliver high-quality legal services at rates that make sense. To explore our comprehensive legal services, please navigate to the <a href="/dashboard">User Dashboard</a> section.
                        </div>
                        <div style="border-bottom: 1px solid #eeeeee; margin: 15px 0"></div>
                        <!--end:Email content-->
                        <div style="padding-bottom: 10px">
                            Shukran,
                            <br />
                            The Affordable Justice Team

                        </div>
                    </div>
                    <!--begin::Link-->
                    <div class="mb-0">
                        <a href="dashboard" class="btn btn-sm btn-primary">Go To Dashboard</a>
                    </div>
                    <!--end::Link-->
                    <!--end::Text-->
                    <!--begin::Illustration-->
                    <div class="mb-0">
                        <img src="assets/media/auth/welcome.png" class="mw-100 mh-300px theme-light-show" alt="" />
                        <img src="assets/media/auth/welcome-dark.png" class="mw-100 mh-300px theme-dark-show" alt="" />
                    </div>
                    <!--end::Illustration-->
                </div>
            </div>
            <!--end::Wrapper-->
        </div>
        <!--end::Content-->
    </div>
    <!--end::Authentication - Signup Welcome Message-->
</div>
<!--end::Root-->